[2018-06-15 12:20] sushobhit27 commented on #1329
@Zac-HD got it, so basically alphabet must be sequence of single characters.

[2018-06-16 14:54] Zac-HD commented on #733
#1257 won't solve the fixtures problem, but would allow `pytest-django` (or an extension) to insert a wrapper between `@given` and the test function that runs each test case (ie inner function invocation by `@given`) in a database transaction.

[2018-06-16 14:55] Zac-HD commented on #703
The solution proposed for Trio in #1257 should also allow Trial (or an extension) to insert a wrapper between `@given` and the test, to convert between twisted-native and synchronous styles.

[2018-06-16 20:09] alexwlchan commented on #1327
I’m going to have a quick look at this.

[2018-06-16 20:32] alexwlchan commented on #1327
Ah, we use settings as a context manager in `engine.py`, where I think we do want to scope it to within a single `run()` method. That seems to be the root of most of the test breakages,

It’s not immediately obvious to me how we unpick it from there, but it’s been a while since I‘ve had to think about this code…

[2018-06-18 05:34] sushobhit27 commented on #1329
@Zac-HD
I was working on this and got some queries regarding this issue:
[code]
If I assume that above check is for catching things like like
alphabet=None or alphabet=123, alphabet=True etc.
Then, alphabet = list(alphabet) is gonna give TypeError.
So if someone is passing non iterable, shouldn't we first raise InvalidArgument instead of note_deprecation?

I have more or less created test cases fo

[2018-06-18 17:18] pganssle commented on #69
From some minor thinking about it, these are the classes of "nasty" time zones that I think we should try to find for each time zone:

1. Transitions between STD->DST
2. Transitions between DST->STD
3. Changes of base offset
4. Changes of `tzname` without a corresponding change in DST
5. Changes in DST without a corresponding `tzname`
6. Changes in DST without a corresponding change to `utcoffset`

[2018-06-19 04:33] juliahou commented on #1317
Hello! I'd like to work on this issue if it's still open.

[2018-06-19 04:53] Zac-HD commented on #1317
Awesome!  This issue will be reserved for you at least through to the end of June - just let me know if you need a hand with anything; otherwise I'll leave you to it until you open a PR I can review :smile:

[2018-06-19 11:40] DRMacIver commented on #1322
For future reference, it turns out that the root cause of this problem (and likely similar ones in future) is depending on different versions of helix in the Gemfile.log and the Cargo.toml. These two versions should always be in sync.

[2018-06-19 11:43] DRMacIver opened #1337 "Add CI test to check whether Cargo.toml and Gemfile.lock agree on Helix version"
Helix (the library we use to bind to Rust from Ruby) has two components: A crate and a rubygem. Each of these has their own version number, but we should always use the same version number on each side.

The version number for our dependency on them is (inextricably) specified in two places - the Cargo.toml and the Gemfile.lock. When these get out of sync we end up with confusing and non-obvious e

[2018-06-19 15:11] #1216 closed

[2018-06-20 01:49] Zac-HD commented on #1327
The obvious option to me would be to add a private context manager function `_with_settings(s)`, which does exactly the same thing but isn't public API - the alternative would be to manually pass the object around everywhere, and that gets ugly (and unmaintainable) very quickly..  Then it's just a matter of removing the context manager use from our docs and tests...

[2018-06-20 01:52] Zac-HD opened #1338 "Unclear documentation for composite decorator"
See e.g. https://stackoverflow.com/questions/50876547/ - we should explicitly explain that "the `@composite` decorator converts a functions which returns an example into a function which returns a strategy that generates such examples", or something to that effect.

[2018-06-20 03:53] #1307 closed

[2018-06-21 02:31] Zac-HD commented on #1326
Works on my machine - ie docs are produced as expected - which is going to make debugging "fun".

#1250 might help, or at least listing the correct things to document can't hurt.

I still have no idea of the root cause, but decorators are a perennial issue, as are things imported from another module, and imported decorators are especially bad for Sphinx.  Could be that?  (except it *does* work on

[2018-06-21 15:56] spott opened #1340 "Unsatisfiable when inside a st.lists. Runs fine on its own."
I have a set of fairly complex `composite` strategies, which culminate in a strategy that generates a specific type.  I call this strategy `sequence_ds`.  This strategy generates examples just fine using the `sequence_ds().example()` function.

When I try to generate a list of this strategy (`st.lists(sequence_ds(), min_size=2, max_size=10).example()`), I get an `Unsatisfiable` error.  I have no `

[2018-06-22 04:44] Zac-HD commented on #1340
`Unsatisfiable` can arise in a few ways that don't involve `assume`, but I can't help much more without seeing the code!

I would try running as a test with `@given` (which is much better than `.example()` for funding bugs), and if that doesn't work try converting the strategy code from a composite function to a test using the `st.data()` strategy for interactive drawing.

[2018-06-22 04:44] #1340 closed

[2018-06-22 08:50] alexwlchan commented on #1327
I’m doing it. Hopefully at least a WIP PR by the end of the day.

[2018-06-24 07:50] Zac-HD opened #1346 "Avoid "impossible" ZeroDivisionError we keep seeing"
https://github.com/HypothesisWorks/hypothesis/blob/592bc7cd2c642bf273113083457444b4823021c9/hypothesis-python/src/hypothesis/statistics.py#L88-L95

This snippet occasionally leads to problems, when `total_drawtime` is nonzero but `total_runtime` *is* zero, causing test failures [like this one](https://ci.appveyor.com/project/DRMacIver/hypothesis/build/1.0.458/job/hl2d74810901ttf5#L926).  I'm not s

[2018-06-24 07:54] alexwlchan commented on #1346
My inclination would be not to fix this until we have a reproducible test case, or we’re just hiding the error.

Not sure if that disqualifies it for [good-first-issue].

[2018-06-24 08:04] Zac-HD commented on #1346
It's easy (or at least straightforward) to reproduce by mocking the global clock, but otherwise it only comes up *often* on shared VMs such as free CI where the time is screwy.

Given that the logic is OK and the measurements are weird, I'm OK with just displaying the "we're not sure" value of `~ 0%` when things go wrong - it's at least as accurate as any other number we could display.

[2018-06-24 10:35] Zac-HD opened #1348 "test_can_shrink_matrices_with_length_param is flaky"
So, it turns out that #1295 made our test suite much more likely to find bugs, by letting tests explore all-new parts of the PRNG state space.

The result is that both [`test_can_shrink_matrices_with_length_param`](https://ci.appveyor.com/project/DRMacIver/hypothesis/build/1.0.541/job/a8995qj655k983p7#L617) and [`test_can_flatmap_to_recursive_data`](https://travis-ci.org/HypothesisWorks/hypothesis

[2018-06-24 12:00] #1327 closed

[2018-06-24 12:33] Zac-HD opened #1349 "Python deployment did not remove RELEASE.rst"
In c216ddca8155cdb05053bcfe2ac51814447aac4f, which blocks further merges.  @DRMacIver, I think cb84c3ad4dfdecfcf947ccd24bfdee111083645b shouldn't have taken out the `git rm RELEASE.rst`...

AFAICT ea6bb819143d5c6b4e4c43aa2436a9f70d129872 would be a decent fix.  (and is now in all my open PRs)

[2018-06-24 14:36] DRMacIver commented on #1349
I agree ea6bb81 looks reasonable. @Zac-HD could you open a PR with just that cherry-picked into it and I'll approve it?

[2018-06-24 15:12] #1349 closed

[2018-06-24 15:14] Zac-HD opened #1351 "Ruby tests failing for Python PR"
https://travis-ci.org/HypothesisWorks/hypothesis/jobs/396075133 failed while building #1282.  Perhaps we should force-pass Ruby tests for PRs that don't touch hypothesis-ruby/ until it leaves alpha?

[2018-06-24 19:05] DRMacIver commented on #1351
Given how much flakiness we're seeing with the Python build, I'm not sure the Ruby build is likely to be more of a problem here than the Python build.

The real question is why these tests are being run here at all. The `if_changed` logic is supposed to stop that happening.

[2018-06-24 19:13] DRMacIver opened #1352 ""Expected incorporate to not increase length, but buf.len() = 17 while shrink target was 5" in hypothesis-ruby tests"
We have the following intermittent error in hypothesis-ruby tests (see #1351):

[code]

This will be coming from the Conjecture side.

[2018-06-24 19:15] alexwlchan commented on #1351
FWIW, to check for file changes in the Wellcome repo, I use

[code]

and run checks against the list of files I get back. (Yes you shouldn't assume filenames don't contain newlines and splitting a list of filenames on newlines is bad, but in a repo with moderately sensible devs this is good enough.)

That allows our Travis scripts to dump an explanation of why they did or didn't run tests. I find

[2018-06-25 11:29] endrebak opened #1356 "Citing hypothesis?"
In my supps, I write about testing my new library. I want to cite hypothesis. How should I do it?

[2018-06-25 12:59] Zac-HD commented on #1356
Hi @endrebak - thanks for asking!  We're planning to submit to [JOSS](https://joss.theoj.org/) "soonish", at which point there will be a proper reference with DOI and everything.  If you can't wait, I'd cite it as

Of course, @DRMacIver may have a different view!

[2018-06-25 13:34] DRMacIver commented on #1356
For the moment we have [a CITATION file](https://github.com/HypothesisWorks/hypothesis/blob/master/CITATION). It could probably use a refresh, but it's not a bad start.

I'm still unsure what to do about the authors list - the CITATION just has me in it, but that's partly because that was much more accurate when it was written, and that definitely doesn't feel right these days. What do people do a

[2018-06-25 18:11] #1352 closed

[2018-06-26 03:53] #200 closed

[2018-06-26 04:54] #954 closed

[2018-06-26 07:21] endrebak commented on #1356
Thanks. I've seen README, INSTALL and so on but never CITATION. It would be wise to point to it in the docs. It did not show up when googling `cite hypothesis` even.

[2018-06-26 09:01] #1257 closed

[2018-06-26 13:32] pjdelport opened #1359 "Vendored modules (hypothesis/vendor/pretty.py) produce type errors with Mypy"
As of the 0.62.0 release, when type-checking a Hypothesis-using project with Mypy, at least the `pretty` vendored module raises (valid) type errors:

[code]

(The errors are things like Python 2 compatibility code that isn't valid under Python 3.)

I'm guessing this is due to the `py.typed` marker, which counts everything under the `hypothesis`
package to be type-checked.

The workaround is to exp

[2018-06-26 13:33] pjdelport commented on #1359
As an aside, the Hypothesis CI should probably run Mypy too, to avoid this kind of problem.

[2018-06-26 13:41] Zac-HD commented on #1359
Ack!  You're entirely right, thanks for reporting this. We actually do run Mypy in CI... but with the vendor directory ignored. Whoops.

I'll fix this as a matter of priority.

[2018-06-26 23:09] nthomas-mozilla opened #1360 "Upload wheels to pypi at the same time as the tar.gz"
We use Hypothesis in [Balrog](https://github.com/mozilla/balrog), and [pyup](https://github.com/pyupio/pyup) to keep dependencies up to date. When Hypothesis releases a new version it seems the tar.gz is uploaded to pypi initially, then the wheels will be added some time later. Pyup isn't able to handle this case properly (pyupio/pyup#250) and creates a PR which will later cause problems (pip will

[2018-06-27 05:24] mattsb42-aws opened #1362 "3.64.0 introduced breaking change to HypothesisHandle"
[code]

Ex:
https://travis-ci.org/awslabs/base64io-python/builds/397145142
https://travis-ci.org/awslabs/aws-dynamodb-encryption-python/builds/397189674

Testing these pinning against Hypothesis 3.63.0, everything works as expected but when pinned against 3.64.0 these errors appear.

[2018-06-27 05:56] Zac-HD commented on #1362
The bad news is that `HypothesisHandle` (the type of the `.hypothesis` attribute on tests) is actually new in 3.64, so the break is not so much that it's changed as that it *exists*.  See 3c9fa581d17f28cbb7932589620336dee5855a83 / #1343.

On further investigation, the problem is that the `pytest-hypothesis` plugin (which is built in) goes to add a pytest marker called `pytest.mark.hypothesis`, and

[2018-06-27 06:14] alexwlchan commented on #1360
This is because we build the sdist in Travis, and the wheels in Appveyor, and the two jobs don’t really talk to each other.

@DRMacIver – I suspect you wrote this originally, do you remember why we don’t do it all in one or the other.

[2018-06-27 10:00] DRMacIver commented on #1362
Hi @mattsb42-aws. So looking into this the problem is triggered by the fact that your code is applying a `@pytest.mark.hypothesis` to the tests. This is actually redundant, as we already apply this mark! Apparently we don't document this anywhere (whoops, sorry. We've got an open issue about improving the documentation of the pytest plugin #1238).

Anyway, we think this error is a bug on the pytes

[2018-06-27 10:01] #1362 closed

[2018-06-27 10:04] #1359 closed

[2018-06-27 14:47] DRMacIver commented on #1360
There's no major reason we couldn't do it all at once right now, but once we start actually building proper binary wheels something like the current process will become essential because we need to be able to build them on the relevant platforms.

In theory I suppose we could have a separate release process that gathers them all together and only does the release once they're all built, but it wou

[2018-06-27 16:15] fkromer opened #1364 "Question: Pytest fixture in hypothesis RuleBasedStateMachine test case"
I was not able to find an example on github about how to use a pytest `fixture` in a hypothesis state based test case (`RuleBasedStateMachine`). Could you give me a hint pls?

[2018-06-28 02:39] Zac-HD commented on #1351
Blame that on the sudden increase in test power thanks to #1295 - it turns out that a handful of tests reliably passed, but only because we almost always explored the same states.  This should calm down soon, once we improve the remaining test issues (e.g. #1348, and discussed in #1330).

More specifically, I'm happy to call this issue closed by #1354.

[2018-06-28 02:39] #1351 closed

[2018-06-28 06:45] Zac-HD commented on #1148
Welp.  Too late for pre-releases, but we can use the issue to track general progress on 3.7 support 🚀 🙄

[2018-06-28 14:07] git-afsantos opened #1365 "Stateful rule that always runs last"
Hello,

**TL;DR:** Is there a way to guarantee that a rule will always be selected as the last one in a trace, so as to avoid spending time on useless examples?

This is not exactly a feature request. If you can provide me a yes/no answer and a couple hints I might be able to do it myself. :slightly_smiling_face:

---

I am using the stateful testing API to test an asynchronous publisher-subscribe

[2018-06-28 15:51] jochym opened #1366 "the 3.64.x release has problems on py3.5"
The builds on conda forge for 3.64.x fail internal tests on all platforms for python 3.5.
Build logs:
Linux: https://circleci.com/gh/jochym/hypothesis-feedstock/284
OSX (3.64.0): https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/397619120
OSX (3.64.2): https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/397836319 (queued)
Windows: https://ci.appveyor.com/project/conda-forge/hypot

[2018-06-28 16:02] DRMacIver commented on #1366
Yup, 3.5 is still supported. Looks like the reason we didn't catch this is that a lot of these tests are in our `py3` folder which cleverly looks like we only run it as part of the coverage tests (which run on 3.6). 😢

@Zac-HD this failure looks like it's in the new attrs inference work. Can you take a look? I'll take on sorting out the build side of things.

[2018-06-28 16:04] DRMacIver opened #1367 "py3 tests are only run in coverage job"
Based on some investigation in response to #1366 it looks like the tests in `tests/py3` are actually only running under coverage, and not under other versions of Python 3. Ideally they should be running on all of our `check-py3x` jobs.

Worse (except in the sense that we seem to have got away with it) is that as far as I can tell the py2 tests aren't running *anywhere*.

[2018-06-28 22:13] Zac-HD commented on #1366
Yep, I'll take this one on (the feature is my puppy now...).

From a first glance this looks like a problem getting the return type annotation of a function.  Given the general state of static typing on 3.5, and our best-effort / latest only approach, I might just split it out into a separate test that can be skipped before Python 3.6

[2018-06-29 08:01] Zac-HD commented on #1365
What you want to do is (strictly speaking) not part of the stateful testing model and therefore not supported.

That said, your code looks like the right way to add a finalize method!  I'd be open to discussion of adding it to Hypothesis (cc @DRMacIver), like we recently did for `@initialize` in #1291 - which would also fix the fairly dangerous state of relying on internal interfaces...

[2018-06-29 08:36] Zac-HD commented on #703
The interface added in [Hypothesis 3.64](https://hypothesis.readthedocs.io/en/latest/changes.html#v3-64-0) (#1343) can be used to support Hypothesis with async tests, as in e.g. python-trio/pytest-trio#44.  Because we now provide a supported interface for this purpose, and there are *so many* async frameworks out there, this is now an issue to open against the upstream test framework.

[2018-06-29 08:36] #703 closed

[2018-06-29 08:36] DRMacIver commented on #1366
I *may* have had the exact same framing in my head when I asked you to look into it, but decided not to voice it. 😉

[2018-06-29 08:39] Zac-HD commented on #968
The interface added in [Hypothesis 3.64](https://hypothesis.readthedocs.io/en/latest/changes.html#v3-64-0) (#1343) can be used to support Hypothesis with async tests, as in e.g. python-trio/pytest-trio#44.  Because we now provide a supported interface for this purpose, and there are *so many* async frameworks out there, this is now an issue to open against the upstream test framework (ie `pytest-a

[2018-06-29 08:39] #968 closed

[2018-06-29 08:41] Zac-HD commented on #1367
You might want to check out #863 at the same time, since it seems related.

[2018-06-29 09:08] DRMacIver commented on #1365
I'm a little confused by what you're trying to do that wouldn't be achievable by just implementing the `teardown` method. Could you elaborate?

On the `StopTest` issue: That's an internal exception, so if you're seeing that it's a Hypothesis bug! If you could provide an example of how to trigger that it would be very helpful.

[2018-06-29 09:15] #466 closed

[2018-06-29 10:03] DRMacIver commented on #1364
Unfortunately the hint is that you can't - there's not really a way to do it, and there probably never will be.

Depending on your use case you might be able to make it work using [`run_state_machine_as_test`](https://hypothesis.readthedocs.io/en/latest/stateful.html#more-fine-grained-control) (this isn't very well documented right now, sorry) by passing the fixture in in your constructor, but not

[2018-06-29 10:03] #1364 closed

[2018-06-29 10:18] mingwandroid commented on #1264
Is there any progress on this? Python 3.7 has been released now.

[2018-06-29 10:32] DRMacIver commented on #1264
It has, but the release situation is frankly terrible and we're not sure what to do about it. 😢

The hard dependency on a new version of OpenSSL means that the release basically doesn't work on any of our CI infrastructure, and we're not able to fix that without making everything substantially worse or doing a bunch of build engineering to build OpenSSL ourself, which we haven't found time for yet

[2018-06-29 12:31] git-afsantos commented on #1365
Sure, implementing the actions I want to run last in `teardown` was my initial approach. This may be nitpicking, but it felt like I was *abusing* the intent of the method. It felt cleaner to have `teardown` just perform clean up operations (which, in principle, should not raise an exception), and have something else perform some final asserts.

This also made the example trace clearer and easier t

[2018-06-29 12:46] pckroon opened #1370 "Stateful testing"
Hi all,

first off, thanks for making hypothesis, I've been using it only briefly now and I really like it so far.
I need a hand in setting up stateful testing, since it sound like The Right Thing To Do(c).

I have code that can serialize and deserialize certain objects, and I made a composite strategy to create these objects. In addition, I have some operations that I can perform on these objects

[2018-06-29 13:22] Zac-HD commented on #1370
You're doing well!  I assume you found the docs, but [here's a link just in case :smile:](https://hypothesis.readthedocs.io/en/latest/stateful.html)

- `@rule` is basically a copy of `@given` that does a few extra things - you have to call it with the strategies you want to pass as arguments for the method.  `@initialize` is the same (it's just a `rule` that gets called first)
- `@invariant()` als

[2018-06-29 13:32] Zac-HD commented on #1300
Some notes on rule-based stateful API friendliness, prompted by #1370:

- It would be nice to have `@invariant` work (you actually need `@invariant()`)
- `@rule` has a terrible error if used without calling it (TypeError trying to iterate over the decorated method as `targets`), which is an obvious mistake if you use it with `@given` as a pure marker.  I'm not inclined to do runtime checking for m

[2018-06-29 13:32] #1370 closed

[2018-06-29 13:51] pckroon commented on #1370
Thanks for the help!
I currently have the following code, which seems to work.

[code]

However if I then run `pytest` it gives me a failing test with an assertion error, but it doesn't actually show what it did or with what. Running it with just `python` produces no output at all.

[2018-06-29 13:54] Zac-HD commented on #1370
Can you share the exact output from pytest?  It *should* show where the error arose.

[2018-06-29 14:24] pckroon commented on #1370
I just completely overlooked it.
Hypothesis also immediately showed it's full potential by unearthing an ungodly amount of bugs. So thanks, I guess :)

[2018-06-29 19:29] DRMacIver commented on #1148
See https://github.com/HypothesisWorks/hypothesis/pull/1369

Basically: This isn't going to happen any time soon.

The following scenarios would allow it to happen:

1. Travis makes it possible to test on a modern version of Linux
2. CPython makes it easy to statically link OpenSSL
3. Someone else (pyenv?) does the wrangling that would allow us install this with a custom OpenSSL easily.
4. We swit

[2018-06-30 11:40] #1235 closed

[2018-06-30 11:40] #1348 closed

[2018-06-30 12:07] Zac-HD commented on #1365
OK, I think our formal advice is that the supported way of doing this is some combination of not worrying about useless rules (they'll be shrunk away if there's an error), using `@teardown()` where that works, and using `@precondition(...)` to filter rules if you need efficiency.

Feel free to keep posting if there's anything more to discuss!

[2018-06-30 12:07] #1365 closed

[2018-06-30 12:12] Zac-HD commented on #1212
This may be related to #909 - or at least it has similar symptoms.

[2018-06-30 12:49] Zac-HD commented on #292
#1343 added a mechanism for test runners to handle this automatically, as in python-trio/pytest-trio#44.

Since the `execute_example` form does still work, anyone who would like a pytest-style rather than unittest-style experience is encouraged to contribute a similar feature to e.g. `pytest-asyncio`.

[2018-06-30 12:49] #292 closed

[2018-06-30 14:06] Zac-HD opened #1372 "Stateful testing: steps not printed on pytest.fail()"
Via [a longer case posted on stackoverflow](https://stackoverflow.com/questions/51068206), I found out that BaseException - or subclasses like `pytest.Failed` - skips the printing of the steps taken to produce the error.

[code]

Suggested resolution: there is probably somewhere which catches `Exception` but should catch `BaseException` (perhaps re-raising `HypothesisBaseException`).  Finding and

[2018-07-01 10:43] #1366 closed

[2018-07-01 10:43] #1367 closed

[2018-07-01 20:42] jochym commented on #1366
3.65 still has problems on py3.5 on linux and windows. The OSX seems fixed:
Linux: https://circleci.com/gh/conda-forge/hypothesis-feedstock/338
Windows: https://ci.appveyor.com/project/conda-forge/hypothesis-feedstock/build/1.0.225/job/a7xe0qrwxrnc6hc8

[2018-07-02 00:30] Zac-HD commented on #1366
Which commit are you building?  This fix hasn't made into a release yet, so I'd expect the 3.65.0 tag to keep failing (including on OSX).

[2018-07-02 08:04] jochym commented on #1366
OK. The scripts are building out of releases. So I'll just keep waiting for the release that builds, and I will keep informing you here (?) of the status.

[2018-07-03 03:08] #1315 closed

[2018-07-03 03:08] #1338 closed

[2018-07-03 03:08] #1356 closed

[2018-07-03 09:06] adaszko opened #1378 "ImportError: cannot import name canonical_filename"
Hi, I'm getting an import error on startup:

[code]

I've downloaded https://files.pythonhosted.org/packages/4b/e4/5ebf3220993de03f2120a16d9e91cfd053f4c11ada0cf033f2bfe9683fcf/hypothesis-3.65.0-py2-none-any.whl and the `METADATA` file there specifies dependency on `coverage` without any version number:

[code]

My local `coverage` is at `3.7.1`.  It works if I upgrade `coverage` to `4.4.1`, so I t

[2018-07-03 09:09] alexwlchan commented on #1378
Thanks for the report!

Yep, we don’t specify a version of coverage in our `setup.py`.

I think this is all the imports from coverage we use:

[code]

I’ll work out what the minimum version we need is, and add a bound in `setup.py`.

[2018-07-03 09:18] alexwlchan commented on #1378
Okay, so we want v4.0 – and not any of the alpha versions! Fix available in #1379.

[2018-07-03 10:45] adaszko commented on #1378
Great, thanks!

[2018-07-03 11:21] Zac-HD commented on #1148
We now have 3.7 running on Travis, thanks to #1376 (:heart_eyes: @asottile)

It currently has an allowed failure because of [a console unicode issue here](https://github.com/HypothesisWorks/hypothesis/blob/b1518f16f9b60969dc0419ea30ff25f1df6ec674/hypothesis-python/tests/pytest/test_capture.py#L75-L84), thanks to [PEP 538](https://www.python.org/dev/peps/pep-0538/).  All we need to do for *this* is

[2018-07-03 11:59] #1372 closed

[2018-07-03 12:05] Zac-HD opened #1380 "test_explore_an_arbitrary_language found a bug"
https://travis-ci.org/HypothesisWorks/hypothesis/jobs/399408345#L1111

Assigning to @DRMacIver, who added this test in #1302.  (:dog::wink:)

[2018-07-03 12:51] DRMacIver commented on #1380
In fact, this is not an example of flakiness, but of Hypothesis behaving how it's supposed to and occasionaly finding new bugs in the code!

[2018-07-03 12:53] alexwlchan commented on #1380
🎉

[2018-07-03 13:50] Zac-HD commented on #1366
3.65.1 is now out, with the test fixes, and should build.

[2018-07-03 15:03] pckroon opened #1381 "Custom strategies beyond composites"
Hi all,

First off, thanks! Hypothesis has helped me find *a lot* of bugs in my code. I'm lagging behind in fixing them though (maybe a next tool? ;))

The code I have works on networkx graphs (https://networkx.github.io/documentation/stable/reference/classes/graph.html#networkx.Graph). I have made a composite strategy for making graphs (see below), and that works. My only problem with it is that

[2018-07-03 18:59] jochym commented on #1366
OK. Thanks. I'll report on the results.

[2018-07-04 04:55] Zac-HD commented on #1381
Hi Peter - it's great to hear that Hypothesis has been useful (or at least found bugs 😉) for you!

Unfortunately the answers to pretty much all of your questions are "it depends" - but I can start with some things to try, and happy to keep discussing especially if you can tell me more about what you want to achieve and what's currently happening.

- The `node_keys` may not be orderable (if someone

[2018-07-04 04:55] #1381 closed

[2018-07-04 08:43] DRMacIver commented on #1381
Could you give some examples of it shrinking badly?

The general Hypothesis philosophy is that Shrinking Is Magic (TM). The underlying model is supposed to handle shrinking for you without you having to worry about it too much. Obviously this is more true in theory than in practice! (Though it's true in practice surprisingly often). As such we're always interested in examples of bad shrinking.

Th

[2018-07-04 08:48] pckroon commented on #1381
Thanks for the replies :)

I have some cases where the actual problem is in the data of one of the nodes, but it also gives me 10 other nodes (with edges) that are actually irrelevant to the issue. Or a case where more nodes could be removed. Do you want the exact details?

Correct, my bad. In practice I always give it a function that returns True once the graph is connected.

I'll play around wit

[2018-07-04 09:10] alexwlchan opened #1383 "Fix our other version bounds in setup.py"
Pulling out @Zac-HD's comment from #1379:

[2018-07-04 09:10] #1378 closed

[2018-07-04 10:16] DRMacIver commented on #1381
Ah, that would be the problem.

Basically what's happening here is that when Hypothesis tries to remove a node during shrinking, this changes the edges you add later - they might point to different nodes or get discarded as invalid because they now point past the end of the node list, etc (basically an edge is being represented as a pair of indices into the node list). This means that trying to re

[2018-07-04 12:40] #1380 closed

[2018-07-04 12:53] pckroon commented on #1381
Hmmm, tough cookie. Thanks for your insights.

This is one of the reasons I was hoping I could inherit from a Strategy class and define grow and shrink methods (or something), to have a bit more control on how the problem can be reduced (i.e. contract an edge, or if you remove a node add an edge between it's neighbours).

Within the current paradigm, every time I add a node, I can/should connect i

[2018-07-04 13:24] pckroon opened #1384 "RuleBasedStateMachine doesn't use example on initialize"
Here's a minimal example that should produce a failing test, but doesn't. Am I simply trying something silly?

[code]

[2018-07-04 13:34] DRMacIver commented on #1384
`@example` doesn't work with Hypothesis's stateful testing at all (and I'm not keen to make it do so - you run into a version of the mutable default argument problem). Would be useful to error or warn on this misuse though!

[2018-07-04 13:39] DRMacIver commented on #1381
Right, but removing a node doesn't just delete the edge pointing to it, it causes that edge to point to something else (unless it's the last node, in which case it does get removed).

This definitely won't be perfect, but I think you might be pleasantly surprised by how well it shrinks. Here's some simplified code I put together to check out how well it works and it certainly seems to do all the b

[2018-07-04 13:41] Zac-HD commented on #1384
Related to #1300.

[2018-07-04 13:50] pckroon commented on #1384
Hmmn, ok. Is there any other way to still get the desired result?

[2018-07-04 14:06] DRMacIver commented on #1384
Depends what the desired result is! There's no way to get something that behaves exactly like `@example` for `@given`, but the output from a RuleBasedStateMachine failure is (usually, though probably not in your case because NetworkX doesn't have good reprs for values 😞) you can run, and you can just instantiate the state machine object and call its methods in a test.

Beyond that, depends what yo

[2018-07-04 14:06] #1384 closed

[2018-07-04 14:23] ashgillman opened #1385 "Numpy arrays strategy generates infinities with elements=floats(allow_infinity=False)"
I have tried to explicitly as `hypothesis.extra.numpy.arrays` to not produce any infinities, by providing a strategy for both fill and elements. However, this doesn't seem to be working.

MWE:

[code]

Am I doing something wrong? Thanks for any help

[2018-07-04 15:00] Zac-HD commented on #1385
*Strictly* speaking, this is not a bug - it's just what happens when you put large values of dtype `f64` in an array of dtype `f32`.  @ashgillman, you can avoid this by tweaking the elements strategy:

[code]

--------------------------------

Proposals:

- [ ] Do this in `hypothesis.extra.numpy.from_dtype(np.dtype('float32')` - currently it has a massive bias towards infinities for narrow float t

[2018-07-04 15:38] DRMacIver commented on #1385
The solution I mostly had in mind was to implement the native 32-bit floats as something not too far off `floats(**kwargs).map(np.float32).filter(conforms_to_args)`. I definitely wasn't suggesting we do a full blown from scratch support for them!

[2018-07-05 05:46] ashgillman commented on #1385
Thanks @Zac-HD , your solution fixes. (I had tried previously to filter on `np.ininfinite` but had no luck.)

I hadn't realised that coercing floats to lower precision can result in inf!

[2018-07-05 07:33] Zac-HD commented on #1300
We would also like to provide the parts required to implement stateful testing downstream as public API, for use by e.g. async libraries.  See #1371 for a proof-of-concept of how this might work.

Technically speaking you can just inherit from `GenericStateMachine` and replace the `run` method, but in practice I'm not sure how well this would work, mostly because `cu.many(...)` is crucial to have

[2018-07-05 09:10] pckroon commented on #1384
That's fair. What I think I want/expect is that it runs at least with that input for initialize (or any rule) as well. I don't know about the other rules it runs. There's currently no way to specify those is there? For me it would be ok if it's not completely reproducible, but at least tries a few things with my provided example.

Can I give `@example`s to `invariant`s?

[2018-07-05 09:13] pckroon commented on #1381
Thanks for your input, I'll definitely give it a try!

And this is exactly why I needed your expert insights :) I don't think I grasp all the subtleties, so I'll take your word for it.

[2018-07-05 09:14] DRMacIver commented on #1384
The easiest thing to do here is probably just to specify those arguments you want tried in a `sampled_from` as part of the strategies that feed the rule TBH. That + writing specific tests that just construct and call some methods on your state machine probably cover most of the space of things that `@example` would do.

No, invariants don't take any arguments, and `@example` .

[2018-07-05 09:18] pckroon commented on #1384
Cheers. I can work with that :)

[2018-07-05 14:10] #1329 closed

[2018-07-06 08:03] njsmith commented on #1300
Regarding async stateful testing, @Zac-HD wrote [over here](https://github.com/HypothesisWorks/hypothesis/pull/1371#issuecomment-401541928), on @touilleMan's PR:

I'm replying here so my comment doesn't get lost on a random closed PR :-).

There are a lot of sources of possible non-determinism in your average Trio program (or any other program that uses concurrency or I/O). Providing ways to contr

[2018-07-06 08:46] psukys commented on #1126
@DRMacIver what about using handlers for different test runners so that appropriate setup&teardown methods are being used?

[2018-07-06 12:34] ichumuh opened #1387 "st.integers(min_value=0, max_value=1e100) almost only returns large numbers"
[code]
The same happens with floats(). As a workaround I'm currently using filter, which gives a better distribution
[code]
I'm on Ubuntu 16.04 using python 2.7.

[2018-07-06 15:02] Zac-HD commented on #1126
@psukys - we added a hook that test runners can use in #1343, and it's already being used (for example) in `pytest-trio` to wrap async functions with the required event loop.

[2018-07-06 15:07] Zac-HD commented on #1387
First and most generally, `.example()` gives a highly biased distribution - it's designed to show illustrative rather than representative examples.

That said, considering this alongside #909 and #1212 makes me thing that we may well have some issues with data variety from such strategies.  (though note again that it's not specified what *will* be generated, just that some things *could* be genera

[2018-07-06 15:09] Zac-HD commented on #1300
I agree on all counts - including both usefulness and orthogonality to stateful testing - but the implementation and more detailed discussion of that really belongs on a Trio issue tracker.

(Personally I'd consider having an optional dependency on Hypothesis within `trio.testing`, or split it out into a new package `hypothesis-trio` that could provide all those strategies.  Getting further off-to

[2018-07-06 15:16] ichumuh commented on #1387
Thanks for your reply. I was just trying to make the example as simple as possible. I first noticed the issue when a test case with ```@given(st.floats(min_value=-1e100, max_value=1e100))``` didn't find a bug in one of my functions that only occurred with numbers relatively close to 0.

[2018-07-07 21:33] touilleMan commented on #1300
@Zac-HD @njsmith so what would be the next step now ?

I'm thinking to divide my previous POC into two PRs:
- one for hypothesis containing only the `GenericStateMachine._custom_runner` hook (btw I think `_custom_runner` is not a good name so suggestions wanted here ^^)
- one for trio adding hypothesis stateful support in trio.testing

[2018-07-08 10:40] sobolevn opened #1388 "Support django's URLField"
While using `hypothesis` quite successfully for my `django` apps, I have faced a minor issue with `URLField`.

Currently it is impossible to generate random URLs with `hypothesis`. And `URLField` is not supported.

Here's my example:

[code]

Which gives me this error:

[code]

## Current solution

I am using a workaround with `faker`:

[code]

After this fix it works, but it feels like some dirty

[2018-07-08 10:48] kxepal commented on #1388
Indeed I made urls strategy once upon a time: https://gist.github.com/kxepal/bceffb0f909a2339449f1e258d0fd433 (sorry for unittest, this code is about three years old). Do we want to have such stragery out of the box? I could try to bring that code back to live and contribute it.
This will require some more work to support IDNA hostnames and integrate it with email strategy which relays upon hostna

[2018-07-08 13:22] DRMacIver commented on #1388
I'd be keen.

Also, feel free to submit an initial low-pass version which you can refine later. As long as we get the API right up front, the implementation only needs to be good enough to be useful!

[2018-07-08 14:57] Zac-HD commented on #1300
I don't think we (collectively) have enough experience with this kind of testing to write a useful API on the first attempt, so I'm feeling very cautious about adding something that would have to be supported for a long time.

Instead, I'd rework your proof-of-concept into a standalone library `hypothesis-trio`, with a class `TrioGenericStateMachine` that overrides the `.run` method directly.  Thi

[2018-07-08 22:36] #1346 closed

[2018-07-10 09:06] pckroon commented on #1381
To wrap this thread up. I ended up with the following. It has a few more bells and whistles than the code @DRMacIver provided, but it does essentially the same. I'll probably clean it a bit, and create a `hypothesis-networkx` somewhere. Thanks again for your invaluable help!

[code]

[2018-07-11 12:47] pckroon opened #1392 "Measuring coverage of custom hypothesis strategies"
Hi all,

I'm back again with more questions. I made a strategy for generating NetworkX graphs (https://github.com/pckroon/hypothesis-networkx) but I'm having issues testing it.

The tests (eventually) pass, but the measured coverage points to 47 missed lines (all the code in the actual strategy). I have the feeling this is a side effect of hypothesis using coverage, or otherwise obfuscating what c

[2018-07-11 12:54] pckroon opened #1393 "Performance degradation from 3.30.0 to 3.66.1 due to many "invalid examples""
Hi all,

I wrote a strategy for generating NetworkX graphs (https://github.com/pckroon/hypothesis-networkx), but testing that code is super slow. Previous issues here made me look at some older versions of hypothesis, and 3.30.0 in particular. It seems that the current version produces many many more invalid examples for some reason. Here's the statistics for both versions I tried:

For 3.66.1:
[c

[2018-07-11 15:53] Zac-HD commented on #1392
This could be related to #1085? Pinging @DRMacIver who might have a better idea of what's happening.

[2018-07-13 07:26] shuoli84 opened #1395 "attrs.dataclass not infered correctly"
[code]

This code generates 0 examples.

EDIT: it generated one example, A(i=0)

[2018-07-13 09:10] shuoli84 commented on #1395
Also, if an attribute has a default value, then it always use the default value.

[2018-07-13 09:55] shuoli84 opened #1396 "one_of(none(), text()) provides no example as None"
[code]

No matter how I tweak the range(xxx), it never prints "Got None".

[2018-07-13 10:01] shuoli84 commented on #1396
Though, (strategies.text() | strategies.none()).example() works.

[2018-07-14 10:09] Zac-HD commented on #1396
This is because `.example()` does not give a representative distribution of outputs - it aims to produce diverse examples that are simple, but not *too* simple, and therefore excludes the absolute minimal case (`None` in your first example, or the empty string in the second).

[2018-07-14 10:09] #1396 closed

[2018-07-14 10:24] #1395 closed, assigned to nobody

[2018-07-15 12:57] mingwandroid commented on #1264
Maybe try `conda`?, we handle all of that stuff for you.

[2018-07-15 12:58] mingwandroid commented on #1264
https://github.com/conda-forge/hypothesis-feedstock

[2018-07-15 14:45] Zac-HD commented on #1085
The upstream issues for a better API are nedbat/coveragepy#603 and nedbat/coveragepy#604 - we're currently using internals, which is bad in principle and also harder in practice than a public API.
That's the proper fix for the ecosystem, but it would be nice to patch this sooner.

-----------------

Therefore, a good first contribution would be to ensure that the return value from `original_save_d

[2018-07-15 14:57] Zac-HD commented on #1264
Ah, thanks - I've now got a working conda environment set up and I'm starting to work through the long list of test failures.  So far this is mostly just a matter of adding compatibility shims for renamed or changed objects such as "the class everything in `typing` inherits from" :roll_eyes:.  Hopefully this is the last time...

Initial patch: https://github.com/HypothesisWorks/hypothesis/compare/

[2018-07-16 03:47] shuoli84 commented on #1396
@Zac-HD Got it. Thanks.

[2018-07-16 10:33] DRMacIver commented on #1393
Could you elaborate on why 3.30.0 in particular? Is this the last release with good behaviour or just something you happened to try?

There are quite a lot of releases between the two. My guess would be https://hypothesis.readthedocs.io/en/latest/changes.html#v3-51-0 is the most likely culprit, but it could be almost anything.

[2018-07-16 10:52] pckroon commented on #1393
I picked it at semi-random based on previously reported performance issues (those mostly dealt with coverage).

I tried with a few versions now. For 250 passing examples, every version produces this many invalid examples. If you have any more suspect versions I'm happy to try. Here I bisected untill less than half of the examples were invalid.
[code]

I'm a little confused as to what's causing thi

[2018-07-16 18:08] touilleMan commented on #1300
@Zac-HD @njsmith I've created the [hypothesis-trio](https://github.com/python-trio/hypothesis-trio) project with my POC in it.

Currently there is a monkey patch of `hypothesis.stateful.StateMachineRunner.run` that kicks in when `hypothesis_trio.stateful` is importer, it's not something I'm happy about but the alternative was to provide a custom version of `StateMachineRunner`, `StateMachineSearch

[2018-07-16 20:58] pganssle opened #1401 "Weighting of emoji in text strategies?"
I was recently attempting to test a bug that *seemed* to only manifest when it encountered emoji (and not necessarily other high-unicode codepoints). I figured that `strategies.text()` would just naturally include some emoji, but I've found that the following tests only fail about 25% of the time (clearing `.hypothesis` between runs):

[code]

There are 2623 keys in the `emoji.UNICODE_EMOJI` . It

[2018-07-17 00:04] Zac-HD commented on #1401
Given the sheer number of codepoints and combinations of edge cases in unicode, I don't think this is too bad as default behaviour!  If you know you're after emoji characters though, it's easy enough to create a specialised strategy:

[code]

[2018-07-17 00:40] pganssle commented on #1401
Yes but this brings in the `emoji` dependency, which I only included for the sake of the example. Though in fairness test-only dependencies are not a huge deal.

I think my main point is that realistic Unicode use is probably heavily weighted towards low code points plus emoji, and an ideal text strategy would almost guarantee:

1. Some ASCII
2. Some "special characters" ($&_/\t)
3. Some use of co

[2018-07-17 03:15] Zac-HD commented on #1401
Right, I see what you mean.  Note that 'low codepoints plus emoji' is only representative for English and similar languages though - if your code has users in Asia you'll probably handle a lot of mostly-high-codepoint text too!

The distribution of unicode data is tricky, especially when we might have a `characters(...)` strategy provided that constrains it further (see e.g. #341).  Personally I c

[2018-07-17 07:40] DRMacIver commented on #1401
FWIW I think that getting better unicode support is going to involve the sort of magic that actual magicians do - basically doing an unreasonable amount of work behind the scenes. The structure of unicode is a bit too haphazard to do anything more principled - e.g. there's no way we could tell those emoji codepoints are in any way special without knowing something about emoji.

I do agree that get

[2018-07-19 17:53] chobeat opened #1405 "A strategy for CSV files"
Hello,

I've just recently began using this framework and from what I can understand, there's no specific strategy or extension to create CSV/TSV. Is it correct? The documentation says I should ask if it's better to implement such a thing internally or externally.

Do you think it would make sense to have a hypothesis-csv package? To me it looks like a good tool, useful to test csv parsers and csv

[2018-07-19 18:06] kxepal commented on #1405
Either hypothesis-csv or builtin strategy sounds good for me. Since CSV/TSV formats have no strict specification, you will have to reuse Dialects feature from stdlibs one.  And even that could be not enough if we take Apache Hive TSV format.

May be one more thing is what strategy should produce: just text or list of tuples or both - all these cases are valid. Text is useful when you need to check

[2018-07-19 18:12] chobeat commented on #1405
For sure it will be necessary to make a heavily specific strategy, that's something I already had in mind but maybe different dialects can be supported as different strategies, building on the main csv strategy, that the average user might need to use only in case he's working with non-standard dialects.

Anyway in the following days I will study a bit some strategies and extensions and start sket

[2018-07-21 05:46] chobeat commented on #1405
I'm using meza because pandas is not reliable to build on top.

What do you mean? Right now I just see the dialect as the only thing that they really need to choose and if they are implemented a generic parser that should detect the dialect by itself (quite uncommon maybe) they don't even need to specify the dialect. Right now I'm generating the number of lines, the types of the columns (defined a

[2018-07-21 10:31] Zac-HD opened #1406 "ensure-rustup.sh is currently broken"
[code]

https://travis-ci.org/HypothesisWorks/hypothesis/jobs/406412168, blocking #1402 :sob:

[2018-07-21 10:55] DRMacIver commented on #1406
Looks like it was a problem with the cached install. Not sure what would have caused that. At any rate I've cleared the Travis caches and restarted the build and rustup seems to have run fine this time.

[2018-07-21 10:55] #1406 closed

[2018-07-21 12:45] Zac-HD commented on #1406
Now shellcheck isn't happy! https://travis-ci.org/HypothesisWorks/hypothesis/jobs/406566132

[2018-07-22 09:42] #1326 closed

[2018-07-23 01:42] #1148 closed

[2018-07-23 01:42] #1264 closed

[2018-07-23 12:19] DRMacIver opened #1410 "note should print when verbosity is set to at least verbose"
We have the `note` function that prints its argument only on the final example, but actually it should probably print it for *every* example when `verbosity >= Verbosity.verbose`, so that people can actually see the tests as they run.

[2018-07-23 22:39] shonfeder opened #1413 "from_type strategy for typing.List throws ResolutionFailed"
This just popped in to our CI today. I suspect it was introduced in #1402

Here's a minimal test to reproduce:

[code]

My typing version (freshly updated), in case that matters:

[code]

The context of my testing environment:

[code]

And the crash when the test is run:

<details>

[code]
</details>

[2018-07-24 16:36] #863 closed

[2018-07-25 00:36] xynazog commented on #1410
Hey @DRMacIver can I work on this issue?

[2018-07-25 02:30] Zac-HD commented on #1410
@xynazog - this issue is all yours for the next week (our standard reservation time).  Tips: read `CONTRIBUTING.rst` and the `guides/` files, and feel free to ask if you have *any* trouble at all or just want a hand.  We're here to help!

[2018-07-26 00:09] Zac-HD commented on #1413
[Installing the `typing` module on PyPI has no effect under Python 3.5 or later](https://pypi.org/project/typing/), and our supported versions policy is "latest patch release of each minor version" - which is not usually relevant, but the stdlib `typing` module changed substantially between 3.5.2 and 3.5.5 and is *still* marked as provisional.

More importantly, I've set up a matching environment

[2018-07-26 00:09] #1413 closed

[2018-07-26 02:19] shonfeder commented on #1413
Hmm, weird! I would suspect my own machine, except it was reproducible at least between my machine and the CI server.... I'll look in to resolving this through updating our dependencies. Thanks for the information :)

[2018-07-26 02:20] shonfeder commented on #1413
For the time being we have just pinned hypothesis to 3.66.5, and everything is working as expected.

[2018-07-27 13:48] willfrey opened #1420 "Compulsory `draw` argument of decorated composite strategies causes Pylint to complain"
The first `draw` argument to a strategy decorated with `@hypothesis.strategies.composite` triggers a  `no-value-for-parameter` Pylint error. This is because the decorator automagically takes care of the compulsory `draw` argument but Pylint doesn't understand this.

Is there any way to tell Pylint what's going on here? Perhaps the `composite` decorator could dig into the internals and alter the si

[2018-07-27 16:15] DRMacIver opened #1422 "fix-doctest script is broken"
We should be able to run `./build.sh fix-doctest` and have it update our doctests with the failing output. Unfortunately it's currently broken.

There seem to be two issues:

1. It's using `tools.ROOT` instead of the hypothesis-python directory as its base (easy fix)
2. ??? not sure. I spent about 15 minutes trying to figure out what was going on and failed.

As part of #1417 I have disabled docte

[2018-07-30 03:31] Zac-HD commented on #1420
Unfortunately there's nothing we can do - the upstream issue is PyCQA/pylint#259.

[2018-07-30 03:31] #1420 closed

[2018-07-30 14:12] chobeat commented on #1405
Hello guys,

a short update. I've completed the first iteration of development for hypothesis-csv: https://github.com/chobeat/hypothesis-csv

The core functions are there, I still want to support different dialects and it will take me a few more days, but the ideas I had in mind are all already implemented and tested. Let me know what you think.

[2018-07-31 05:34] Zac-HD commented on #1360
None of the possible workarounds seem worth the pain they'd cause us, so I'm closing this issue as covered by the upstream pyupio/pyup#250.

[2018-07-31 05:34] #1360 closed

[2018-08-01 07:16] jochym opened #1448 "Problems with conda-forge builds"
It seems the recent versions (3.66.16-19) have some problems with few of the tests on our conda-forge builds (https://github.com/conda-forge/hypothesis-feedstock/pulls) on all platforms. Please look into it.
I'm not knowledgeable enough about hypothesis internals to investigate but that blocks release of c-f packages.

[2018-08-01 07:27] DRMacIver commented on #1448
I think the problem is not actually the most recent versions of Hypothesis, but that there was a new version of pytest released yesterday and we update our versions on mondays! Release process race conditions, sigh.

I probably won't have any time to sort this out properly today, but if anyone else wants to look into it I *believe* all that needs to be done is to replace calls to this function htt

[2018-08-01 09:02] Zac-HD commented on #1393
The implementation for unique lists can use an internal equivalent of `assume()`, so that's probably the immediate cause.  Tracking down the root cause (ie what changes increased the number of invalid examples) is likely to be low priority.

In general, I'd suggest using `unique` as lightly as possible - for example, you could just make a list of node keys and then draw the node data only as you a

[2018-08-01 09:59] #1448 closed

[2018-08-01 10:54] pckroon commented on #1393
Hi @Zac-HD,

Genius. That solved it. Your solution even allows me to enable all health checks again. Thanks a lot!

[code]

[2018-08-01 10:54] #1393 closed

[2018-08-01 11:26] Zac-HD commented on #1393
Fantastic! Glad I could help :smile:

[2018-08-01 11:35] jochym opened #1451 "Problem on OSX py2.7"
We have got a problem on OSX py2.7 build for conda-forge packages:
https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/410755174
The rest of OSX builds are fine.

[2018-08-01 12:05] DRMacIver commented on #1451
Huh. How has that test ever passed on 2.7? Python 2 regex reprs aren't anything meaningful. I guess it must be hitting the regular expression cache so the two are actually the same instance.

(Same story as before: Probably won't get a chance to fix this today myself, but it's probably just a matter of changing the test to check pattern and flags rather than repr)

[2018-08-01 13:33] Zac-HD commented on #1451
https://github.com/HypothesisWorks/hypothesis/blob/fe60c8aae7fd8478ef08acfd9f8f852ec004c1e7/hypothesis-python/tests/cover/test_pretty.py#L701-L706

Proposed change to:

[code]

[2018-08-01 13:58] DRMacIver opened #1452 "integers(min_value=0) shrinks very slowly"
I've been investigating a lot of test timeouts recently and these seem to be the source of a lot of them.

The root of the problem is the `geometric` helper in conjecture utils, which ends up mapping quite complicated values to quite simple integers. We should change that format, and generally avoid things that look like the `geometric` helper.

(But not yet, I need to get this evaluation done bef

[2018-08-01 14:06] Zac-HD commented on #1452
*Potentially* related to #909, #1212, and #1387.

[2018-08-01 14:09] Zac-HD commented on #852
#1450 cut the runtime of the coverage job from 20 to 13 minutes on Travis, and that's probably the limit of the low-hanging fruit.

@DRMacIver, is it even worth doing much more?

[2018-08-01 14:20] DRMacIver commented on #852
@Zac-HD Yeah I think it is. If you look at https://travis-ci.org/HypothesisWorks/hypothesis/jobs/410758917, we've got nearly three minutes in the twenty slowest tests alone! I don't know how many of those could be straight up moved to nocover, but I bet all of them could be moved to nocover and then replaced with a much tighter test in cover. Some of those we might even be OK to just straight up d

[2018-08-01 14:36] Zac-HD commented on #700
Related to pytest-dev/pytest-xdist#79.  Our current code, which doesn't work with xdist, is:

https://github.com/HypothesisWorks/hypothesis/blob/fe60c8aae7fd8478ef08acfd9f8f852ec004c1e7/hypothesis-python/src/hypothesis/extra/pytestplugin.py#L107-L113

It looks like we'll need to write some special-case logic to pass the report string back to the master instance when running under `xdist`, and prob

[2018-08-01 17:20] jochym commented on #1451
The problem persists on 3.66.22: https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/410777173

[2018-08-02 07:29] Zac-HD opened #1454 "Support and test Django 2.1"
[Django 2.1 was released on the first of August](https://docs.djangoproject.com/en/2.1/releases/2.1/), so it's time for us to make sure Hypothesis works well with it!

- [x] Add an entry to `.travis.yml` and to `hypothesis-python/tox.ini` to test it in CI
- [x] Update our docs on supported versions of Django and check that the constraints in `setup.py` match this (update: I thought of this last ti

[2018-08-02 19:25] touilleMan opened #1457 "Regression in 3.66.11 with stateful rules containing oneofstategy in targets"
Hi,

I've encountered a new but with version 3.6.11 and onward (see https://travis-ci.org/Scille/parsec-cloud/builds/411355571#L1315).

[code]

The trouble is my stateful rules looks like this:
[code]

So hypothesis has to compare bundles with OneOfStrategy of bundles which worked well before 3.66.11 :'-(

[2018-08-02 19:38] DRMacIver commented on #1457
I don't think your code ever did what you intended it to. What's happening there is that "Folders | Files" is being treated as the name of a bundle, and you're never reading from a bundle with that particular name so the result of `rule2` is silently ignored.

The functionality you probably intended here could be achieved by `targets=(Folders, Files)` (which will put the results of `rule2` in both

[2018-08-02 21:50] #1451 closed

[2018-08-02 21:50] #1454 closed

[2018-08-03 06:18] Zac-HD commented on #1457
The following stateful test is sufficient to reproduce the problem:

[code]

To fix this we should implement stronger argument validation and defensive design *throughout* the stateful interface, not just to give a better error for this case but also to prevent similar problems in future.

[2018-08-03 07:34] touilleMan commented on #1457
@DRMacIver I don't know how I end up thinking this was a find construction
I wanted to put the result of of the rule in Folder or Files depending of which bundle the input parameters  (not shown in my example) are from. This is pretty silly given bundles end up being just strings.
So current behavior is better than old one given it prevents having this kind of wrong construction silently failing.

[2018-08-03 07:52] Zac-HD commented on #1457
We should make sure the error message explains that the result is added to *all* targets then, and therefore if you want the result added to exactly one of several targets you need a rule for each.

Those checks sound right, though maybe we could also check that each string is the name of a valid Bundle?

[2018-08-03 08:06] DRMacIver commented on #1457
In this case you use the `targets` rather than the `target` argument, but otherwise yeah.

This is a good idea but is a bit fiddly to do. We'd have to validate that at initialization time rather than where the rule is defined, because we don't have easy access to the list of possible bundles then.

[2018-08-03 08:06] DRMacIver commented on #1457
Additional thought: Rather than validating the names, the easiest thing to do here might be to deprecate string arguments to `target` alltogether and require the arguments to be bundles.

[2018-08-03 08:08] Zac-HD commented on #1457
Sounds good.  Perhaps we should also deprecate providing both `targets` and `target`?

[2018-08-03 08:35] Kaligule opened #1458 "link "trivial django project" toystore"
In the [documentation about generating django types](https://hypothesis.readthedocs.io/en/latest/django.html) we can read:

It would be helpfull to link to this trivial django project (called toystore) or to describe it more. This would make it possible to recreate the example, even for people who don't know much about django (like me).

A link to a supersmall repo would be sufficient in my opinio

[2018-08-03 10:01] Zac-HD commented on #1458
[Here's the `toystore` project in our tests](https://github.com/HypothesisWorks/hypothesis/tree/master/hypothesis-python/tests/django/toystore) :smile:

Looking at [the docs in question](https://hypothesis.readthedocs.io/en/latest/django.html?highlight=toystore), I think we should probably rewrite the examples to use e.g. [`django.contrib.auth.models.User`](https://docs.djangoproject.com/en/2.1/re

[2018-08-06 14:12] asmodehn opened #1474 "Hypothesis-aware contracts ?"
I am looking for a better way to integrate code and tests together.

Currently we have the `hypothesis.infer` function that determine the strategy depending on the type hint.

Pushing this logic further, how about having contracts, enforced on the usual _code_ part of the app, that when run provide information to hypothesis :
- similar to `hypothesis.assume` for a precondition. During test, hypoth

[2018-08-06 18:46] Hendrikto opened #1476 "Strange behavior of the floats strategy with allow_infinite and min_value or max_value"
When using `allow_infinity` in conjunction with `min_value` or `max_value`, it does not work correctly.

Repro:

[code]

Output:

[code]

In the [documentation](https://hypothesis.readthedocs.io/en/latest/data.html#hypothesis.strategies.floats) it says

but I am not using both, just one at a time.

[2018-08-06 19:02] alexwlchan commented on #1476
I can reproduce this with 3.66.30; investigating.

@Hendrikto, thanks for the report! You get an extra gold star for providing a repro script without using `.example()`.

[2018-08-06 19:04] alexwlchan commented on #1476
Some version bisecting suggests this bug has been around since Hypothesis 3.0, but didn't affect 2.0.

[2018-08-06 20:29] alexwlchan commented on #1476
@Hendrikto I’ve got a pull request for this (#1477), but I’m going to hold it until the end of the week – David is doing some shrinker work for a deadline, and I don’t want to merge anything that might interfere with his experiments.

[2018-08-06 21:14] Hendrikto commented on #1476
Great, thank you.

Workaround for reference: `assume(not math.isinf(value))`

[2018-08-06 21:14] #1476 closed

[2018-08-07 00:35] #1458 closed

[2018-08-07 01:08] Zac-HD commented on #1474
I assume you've seen @hwayne's talk [*Beyond Unit Tests*](https://www.hillelwayne.com/talks/beyond-unit-tests/)?  That's the best general introduction I know of to using Hypothesis with dpcontracts.

I've opened an issue (link above) on the dpcontract repo to distinguish the violation of various contracts.  Once that's implemented, the function below will be usable:

[code]

[Per `CONTRIBUTING.rst

[2018-08-07 02:55] Zac-HD commented on #233
Closing this issue as 'no fix needed', because the modern shrinker is far less prone to getting stuck.  In particular, a full shrink pass either makes some progress (at most 500 times), or no progress is made and shrinking stops (treating the current example as minimal).

If this happens very slowly for your case, please open an issue and we'll try to make it faster.

[2018-08-07 02:55] #233 closed

[2018-08-07 04:50] Zac-HD commented on #163
#1343 added the ability to insert a decorator 'under' `@given` around the test body.

[2018-08-07 08:31] DRMacIver commented on #233
Technically this was *always* true. The big difference between the modern and the classic shrinker in this regard is that its hit rate is vastly better, so the number of failed attempts it makes is rarely more than about an order of magnitude more than the number of successful attempts it makes. Previously shrinking would still never get stuck, but it would sometimes take a very long time to reali

[2018-08-08 07:46] asmodehn commented on #1474
I saw the talk before, and just saw the blog post recently. Let's say I am attempting to go one step further to see what is doable and in what conditions... Let me try to explain where this come from.

My background is in distributed systems and software, and I am wondering to what extend I can apply the "testing in production" paradigm here. Python is a dynamic portable language after all, so I w

[2018-08-08 16:32] DRMacIver opened #1480 "[RFC] Automatically pushing format updates to pull requests"
Particularly now that we have auto cancelling for the main tests when the format job fails I've been finding the format CI almost maximally annoying.

I still want the autoformatting to run, but it would be really nice if it didn't fail the build and instead just pushed the updates to the branch.

I know some people had strong feelings against this, so I thought I'd raise the issue for discussion.

[2018-08-08 16:59] alexwlchan commented on #1480
I think I put the original idea in your head, so I’m a thorough 👍.

Two notes:

* I put the format job in its own build stage, and have it fails if it pushes a commit – so I spin up the smallest number of build workers if there are format changes.
* I suspect you’re the person who would get the most benefit from this. A conservative approach would be to skip auto formatting on every branch that do

[2018-08-08 17:00] alexwlchan commented on #1480
Oh, and make sure your autoformat task doesn’t commit your SSH keys. 😄

https://alexwlchan.net/2018/07/leaking-my-ssh-keys/

[2018-08-08 17:38] DRMacIver commented on #1480
Yeah adding the branch name check is a good idea if nobody else likes this feature.

[2018-08-08 23:28] Zac-HD commented on #1480
Contra Alex, I would *not* split formatting to a separate stage because of the reduced throughput in all other circumstances.

More generally, why not just use a pre-commit hook to run the formatter?  If it's not stable enough, should we just adopt Black and be done with it?  That said, I'm perfectly happy to add 'push format changes to `DRMacIver/*` branches' logic to our build and leave the rest

[2018-08-08 23:52] Zac-HD commented on #1474
OK, there's a lot of stuff to discuss here - even if you didn't mean `dpcontracts` integration!

- For "testing in production", I would describe it more precisely as "writing a client or a node that uses Hypothesis".  This is definitely possible - for example the [`swagger-conformance` package](https://swagger-conformance.readthedocs.io) acts as a client for a web API.
  The trick is basically tha

[2018-08-08 23:52] #1474 closed

[2018-08-09 06:36] alexwlchan commented on #1480
@Zac-HD Depends how you do the build stages.

Travis build stages can condition on the branch name – including regexes. If we only want autoformatting on David’s branches, we could set up a separate stage that only runs on those branches, and is skipped entirely everywhere else. David gets fast formatting, everybody else gets fast builds.

[2018-08-09 07:25] Zac-HD commented on #1480
Oooh, neat 👍

[2018-08-09 08:00] DRMacIver commented on #1480
It could be made to work as a pre-pull hook (it's too slow for pre-commit), but TBH I'm really inclined to just turn it on for everyone than I am to use branch based filtering, unless someone gives me a really strong argument to the contrary. The upsides seem large and the downsides seem minor.

Based on what I've seen people seem really unwilling to run our build scripts locally (we should probab

[2018-08-09 10:37] Zac-HD commented on #1480
IMO the main downside is that pushing to someone else's branch without warning is a breach of normal contribution etiquette, and would be a serious turn-off to some contributors.  (iirc we ran into this a few weeks ago, but I can't find it now)

"They don't work on Windows" means I'm not so much *unwilling* as *unable* to run locally without rebooting every time I want to work on Hypothesis :cry:

[2018-08-09 10:41] kxepal commented on #1480
I think it would be better to setup https://github.com/pre-commit/pre-commit and set hook about format check. Autoformatting without user review may be not good idea because of produced WTFs.

[2018-08-09 13:35] alexwlchan commented on #1480
Another approach: use the `TRAVIS_PULL_REQUEST_SLUG` variable, which works [as follows](https://docs.travis-ci.com/user/environment-variables/#convenience-variables):

Check that the PR originates from `HypothesisWorks/hypothesis`, and then maintainers can opt into it if they want, but it doesn't run against external contributors' PRs (or push to their branches without warning).

The big sticking

[2018-08-09 13:36] alexwlchan commented on #1480
(Also, as I enter my fifth day without Internet at home, having to download a bunch of stuff before I can do anything is mildly annoying.)

[2018-08-09 13:43] DRMacIver commented on #1480
One of the things I've been intending to change about that is that if you have an existing install of pyenv then it should use that install. Would that help for you or do you not use pyenv?

[2018-08-09 15:52] alexwlchan commented on #1480
I don’t use pyenv.

[2018-08-10 01:51] Zac-HD commented on #1096
Closed by #1325 and #1328.

[2018-08-10 01:51] #1096 closed

[2018-08-10 04:14] Kaligule commented on #1458
Thank you very much. This is easier to understand.

[2018-08-10 12:28] jochym opened #1483 "3.66.33 problem with windows build for conda-forge"
The 3.66.33 has problem on windows for all python versions:
https://ci.appveyor.com/project/conda-forge/hypothesis-feedstock/build/1.0.278

[2018-08-10 12:31] Zac-HD opened #1484 "Zenodo integrations - publish github releases, document DOI link"
We now have [Zenodo](https://zenodo.org/) integration set up, ready to archive and mint a citable DOI for each release we make.  This means that we need to start creating github releases as well as tags!

We can write an extra deploy step that uses [the github api](https://developer.github.com/v3/repos/releases/#create-a-release) to create the release.  The body of the release is markdown, and sho

[2018-08-10 13:24] Zac-HD opened #1485 "Document npst.from_dtype as part of the public API"
While it made sense to keep this as an internal function when we only accessed it via `npst.arrays`, the addition of the Pandas extra means it could be independently useful.

- [ ] Add docstring, name to `__all__`, etc.
- [ ] Raise InvalidArgument if it's passed an argument that is not an instance of `np.dtype`

[2018-08-10 20:01] #1483 closed

[2018-08-10 22:28] DRMacIver opened #1486 ""You can reproduce this example..." doesn't respect Verbosity.quiet"
Since 3.44.0 we have the message "You can reproduce this example by temporarily adding `@reproduce_failure(...)" for failing tests, which is nice.

What's less nice is that it shows up even if you have `verbosity=Verbosity.quiet` in your settings, but this should suppress all output from Hypothesis.

`Verbosity.quiet` is [supposed to be enforced by report](https://github.com/HypothesisWorks/hypoth

[2018-08-12 16:49] kidomine opened #1487 "from_regex() Strategy Generates Unexpected Newline"
Using from_regex() to generate a set of examples, I keep randomly obtaining newlines.<br>
Below is a simple example to reproduce. I added single quotes to show the presence of a newline character:
[code]

Sample output (notice items [0] and [1]:
[code]

Based on the expression, there should be no newlines in the result.

Environment:
[code]

Thanks!

[2018-08-12 22:13] DRMacIver commented on #1487
This is because `$` matches either the end of the string or right before a newline, so adding a single `\n` to the end of the string still results in a match for `$`. If you want to match only the end of the string you need `\Z`.

e.g.

[code]

[2018-08-13 00:24] #1487 closed

[2018-08-15 11:15] #1422 closed

[2018-08-15 14:57] #1385 closed

[2018-08-15 16:34] felixonmars opened #1492 "Flaky test: test_large_data_will_fail_a_health_check"
[code]

A simple retry passed it, so I assume it's a flaky test.

[2018-08-16 22:10] nicoabie opened #1493 "Not possible to debug with Visual Studio Code"
## Environment data

- VS Code version: 1.26.0
- Python Extension version: 2018.7.1
- OS and version: Linux Mint 18.3
- Python version: Anaconda custom (64-bit) Python 3.6.5 (base)
- Type of virtual environment used: N/A

## Actual behavior

It is not possible to debug decorated functions with "@given" annotation because the debugger does not stop on breakpoints that were set inside.

## Expected

[2018-08-18 07:42] Zac-HD commented on #235
Experience since this issue was opened suggests that restricting notes to strings (or str-able objects) is actually pretty useful.  If you have a callable, the result will still be reported as a string - and it should be called for each example for reproducible results and shrinking.

Using the existing API, `note(...)` will only report data from the final case, while `event(...)` will report stat

[2018-08-18 07:42] #235 closed

[2018-08-18 07:47] #1485 closed

[2018-08-18 07:49] Zac-HD commented on #356
This may be as simple as disabling logging for all but the final example of a test.

[2018-08-20 02:40] Zac-HD commented on #321
This is now covered by `@initialize` rules, which are run exactly once each prior to any other rule.

[2018-08-20 02:45] Zac-HD commented on #267
We now have basic IP address strategies in `hypothesis.provisional`, and a policy [encouraging external packages](https://github.com/HypothesisWorks/hypothesis/blob/master/CONTRIBUTING.rst#pull-request-or-external-package), especially for experimentation and/or use of third-party packages.  I'm therefore closing this as not an issue for Hypothesis, pending an external proof of concept.

[2018-08-20 02:45] #267 closed

[2018-08-20 11:28] Zalathar opened #1501 "CONTRIBUTING.rst has outdated references to the Makefile-based build system"
I noticed that the build instructions in [CONTRIBUTING.rst](https://github.com/HypothesisWorks/hypothesis/blob/cdfc98e5e8f6d342bb22e343b39cf796ea037bad/CONTRIBUTING.rst) refer to the Makefile-based build system, not the new system introduced in #1227.

I was originally planning to submit a quick PR to fix this, but soon found that it was more subtle than simply replacing `make` with `./build.sh`.

[2018-08-20 11:28] Zac-HD commented on #1457
Closed by #1496.

[2018-08-20 11:28] #1457 closed

[2018-08-20 12:56] alexwlchan commented on #1501
I'd have expected that to work, so apparently I don't know the build system as well as I thought!

[2018-08-20 12:58] DRMacIver commented on #1501
Uh, same TBH. Actually I'd have expected all of the make based instructions to still work as we have a makefile that just passes to `build.sh`. Maybe some of the tasks have been renamed or otherwise bitrotted?

[2018-08-20 15:10] mulkieran opened #1502 "IndexError in OneOfStrategy.do_draw (intermittent)"
You can see the trace in the Travis CI here: https://travis-ci.org/stratis-storage/hs-dbus-signature/jobs/418270565.

The source is available here: https://github.com/mulkieran/hs-dbus-signature/tree/master-hypothesis-2.

The interesting method is here: https://github.com/mulkieran/hs-dbus-signature/blob/master-hypothesis-2/tests/test_strategy.py#L107 and it is short but weird.

Essentially, I wro

[2018-08-20 15:13] mulkieran commented on #1502
Using ```example()``` as I was previously doing seems to have had much the same effect: https://travis-ci.org/stratis-storage/hs-dbus-signature/jobs/414712665.

[2018-08-20 15:16] mulkieran commented on #1502
Travis tests are still at Python 3.4, but the problem is also in Python 3.6.6 as it is reproducible on my home machine.

[2018-08-20 15:34] DRMacIver commented on #1502
Huh. That definitely shouldn't be possible.

I'm afraid I have zero time to investigate in the next week-ish. Happy to field questions if anyone else wants to though. My guess based on eye balling the code is that it's probably a bug in `Sampler` from `hypothesis.internal.conjecture.utils`. I guess first question is to confirm which index is out of bound and why.

[2018-08-20 16:29] mulkieran commented on #1502
I have an example where ```i``` is 2 and both arrays have length 2.

The original strategy is:
[code]

Anyone would think this could be obtained by calling:
```dbus_signatures(max_codes=8, min_complete_types=5)```
but, alas, it repeatedly does not get the ```IndexError``` with that signature strategy specified.

[2018-08-20 16:33] mulkieran commented on #1502
```dbus_signature_strategy```, the function that returns the strategy that generates the signature strategies is a composite strategy, and I'm getting to thinking that that is the source of the problem.
I think I can probably go farther with at least trying to eliminate that as the source of the problem.

[2018-08-20 16:34] DRMacIver commented on #1502
Is it possible that the error is coming from the strategy that generates those strategies rather than the strategy itself?

[2018-08-20 16:36] mulkieran commented on #1502
I think we have the same idea. I'll try to follow it up some more tomorrow.

[2018-08-22 05:53] Zac-HD opened #1507 "CircleCI cache failure is making all builds fail"
See e.g. [here](https://circleci.com/gh/HypothesisWorks/hypothesis/4698); this seems to be part of a pattern where the cache just keeps growing indefinitely 😭

According to [the CircleCI caching docs](https://circleci.com/docs/2.0/caching/), the way to fix this is to update the cache key in `.circle/config.yml`.  We can do this manually each time we need to bump the epoch, but IMO it would be nice

[2018-08-22 05:54] Zac-HD opened #1508 "Avoid spurious build failures from attempted double-upload of wheels"
When we issue a release by pushing a commit to master, it is automatically published to PyPI as a tarball from Travis, and as Python2 and Python3 wheels from Appveyor.

Unfortunately, each of the [64bit (eg)](https://ci.appveyor.com/project/DRMacIver/hypothesis/build/1.0.1128/job/ux04ukscn6popkh6) jobs tries to upload a duplicate wheel (because the [32bit (eg)](https://ci.appveyor.com/project/DRMa

[2018-08-22 06:37] DRMacIver commented on #1507
I'm a bit puzzled that this is happening (but haven't looked into this. Just jotting down notes for others who are interested). We shouldn't be caching virtualenvs any more, so why are our cache sizes not extremely stable?

[2018-08-22 07:16] Zac-HD commented on #1507
I have no idea why, but `Found a cache from build 4691 at v1-runtimes-  Size: 12 GB` is... not good.
It could be something in the homebrew directory, where Circle is failing to restore git packfiles?

[2018-08-23 10:44] #1508 closed

[2018-08-23 12:06] #1501 closed

[2018-08-23 15:28] pganssle commented on #1401
Another place this has come up - `hypothesis` should definitely put a high weight on surrogate characters.

This is essentially the script I used when developing `datetime.fromisoformat` for CPython:

[code]

But since CPython doesn't have a `hypothesis` dependency, I didn't include it in the test suite. 75%+ of the time, this works correctly, but if the separator is a surrogate character, [it's a

[2018-08-23 20:39] amitsoftdeveloper opened #1510 "python 3.6 in pycharm"
'say' is not recognized as an internal or external command,
operable program or batch file.
Ready...

[2018-08-24 07:48] DRMacIver commented on #1401
Likewise not blaming you, but I am curious about your workflow here. Finding the bug 25% of the time doesn't sound too bad to me, though obviously it would be nice if it were better, and I feel like most common usage patterns would have noticed a bug that crops up that frequently.

[2018-08-24 11:03] pganssle commented on #1401
In this and in the original issue's case, there was little hope of me actually incorporating hypothesis into the target project's CI (in which case 25% chance of finding the bug would be acceptable), and there was a costly build step involved, so I wrote a little hypothesis side-test to see if there were any obvious test cases to include in the main test suite.

In the CPython case, my guess is th

[2018-08-24 11:36] DRMacIver commented on #1401
My very strong recommendation would be to up the number of examples run for one-off tests. If you're only running them on an ad hoc basis then the difference between 100 and 10,000 doesn't really matter that much.

It's true that Hypothesis often finds bugs early on, but that's only because there are often relatively easy to find bugs. When the search space is complicated the default configuration

[2018-08-24 13:59] pganssle commented on #1401
Yes, I agree and I certainly know to do that *now*.

I think my main point with this issue and with my follow-up example of where it has bitten me is that I believe that there *is* a smarter weighting function (even if it's a bit messy and hacky like with floats) for the `characters` and `text` strategies that allows for greater coverage with fewer examples.

The examples of where it has bitten me

[2018-08-25 00:42] Zac-HD commented on #1401
Agreed - like Paul, I was thinking essentially that we change `characters()` to have some more structure, and the magic part would be from Conjecture doing some cool stuff to the data distribution (ie weighting function).

- Instead of 'draw an index into the string of allowed characters', we could implement `characters()` in terms of `one_of` that for each of various categories of characters, whe

[2018-08-25 01:03] Zac-HD commented on #1317
Here's a checklist for anyone who would like to work on this issue:

- Delete the line with the assertion
- Add your name to the list of authors in `CONTRIBUTING.rst`
- Add a test to `./hypothesis-python/tests/cover/test_type_lookup.py` to `assert from_type(EmptyEnum).is_empty`
  (you will need to import the `enum` module and define `class EmptyEnum(enum.Enum): pass` too)
- Create a new file `./hy

[2018-08-25 09:26] DRMacIver commented on #1401
I do not believe that this can be the case without a *lot* more structure on the part of `characters()`.

The problem is that fundamentally Conjecture can only tell that something is interesting if it has tried it. The behaviour of its input is fairly opaque. While it is able to make some fairly good educated guesses about that behaviour, until it has seen a behaviour occur at least once it knows

[2018-08-26 13:29] Zac-HD opened #1511 "Run bandit - PyQCA's security linter- in CI"
*Note: someone will need to implement #1512 before this can be added.*

@tleeuwenburg gave [a great talk this afternoon on security tools](https://www.youtube.com/watch?v=Wa2pgDihWaw&index=85&list=PLs4CJRBY5F1KrUr7z_2mur2QdAKXyh-k3) which we should be using.  We already use Pyup and generally handle dependencies well so I don't think we need `safety`.

We should run [`bandit`](https://pypi.org/pro

[2018-08-26 13:30] alexwlchan commented on #1511
FWIW, I gave a lightning talk about Bandit at CamPUG a year or so ago, and David ran Bandit against Hypothesis as I was speaking!

I think there were just two uses of `eval()`, and we thought they were both okay, but more checks can’t hurt.

[2018-08-26 13:39] Zac-HD commented on #1511
https://github.com/HypothesisWorks/hypothesis/blob/026fa3598e10be651178c035272c1016a329ad45/hypothesis-python/src/hypothesis/internal/charmap.py#L62

It now also points out that we're using `pickle`, and this is... not ideal, even for data that (we think!) we wrote.  Since it's a dict of a few strings (category names) to n-tuples of two-tuples of integers, we could easily use json instead and tupl

[2018-08-26 13:48] Zac-HD opened #1512 "Replace pickle with json and tuple in charmap.py"
As described in #1511, we use the `pickle` module to cache some data about unicode categories between runs, because it's relatively expensive to calculate.

However, `pickle` can store arbitrary Python objects - and it's also harder for other tools to deal with.  Instead, we could replace it with the `json` module, and just add a loop or comprehension that converted between lists and tuples as app

[2018-08-26 13:52] Zac-HD commented on #1511
And FWIW I think our use of `eval`, `assert`, `except \w+: pass`, `random`, and `md5` (for function digests) are all fine too, hence the ignore list :smile:

[2018-08-26 23:22] Zac-HD opened #1513 "PyCon Australia 2018 Sprints!"
Hello to everyone at the sprints!  This issue is the place to get started, comment to claim an issue (please talk to me first), and so on.  Thanks for helping out!

The "what is Hypothesis" pack: [my talk](https://www.youtube.com/watch?v=U_KhEi2vRT8) if you like videos, [the docs](https://hypothesis.readthedocs.io/) as a general overview, and [these quick excercises](https://github.com/Zac-HD/hypo

[2018-08-26 23:37] Zac-HD commented on #1513
reserved

[2018-08-26 23:58] whatevergeek commented on #1513
adding here as @Zac-HD  advised...
i'll be helping on the following issue one my machine is setup:
https://github.com/HypothesisWorks/hypothesis/issues/1317

[2018-08-27 00:02] Zac-HD opened #1514 "Confusing documentation: report it here!"
This meta-issue is for reporting all confusing or out-of-date documentation / install instructions / etc at the PyCon Australia sprints (see #1513 for the main meta-issue).

[2018-08-27 00:09] massey101 commented on #1514
Personally I feel that "how do I build this thing" is the first thing I want to know when I end up at a github site. Maybe the README can point us towards CONTRIBUTING for that and then it can just stay where it is.

[2018-08-27 00:10] massey101 commented on #1514
Also:

jack@jackspc:~/hypothesis$ grep -ri vagrant
Vagrantfile:# This is a trivial Vagrantfile designed to simplify development of Hypothesis on Windows,
Vagrantfile:# up a suitable local VM for use with vagrant ssh. You should then use the Makefile from within
Vagrantfile:if [ ! $(grep -q 'cd /vagrant' $HOME/.bashrc) ]; then
Vagrantfile:    echo 'cd /vagrant' >> $HOME/.bashrc
Vagrantfile:cd /vagr

[2018-08-27 00:27] 00willo commented on #1514
Yeah agreed, I couldn't even find the install stuff without doing a text search for "install".  Links to both getting started for users and contributors would be great straight off the main README.

[2018-08-27 00:32] tkcranny commented on #1115
Hi, this looks like a good one to implement for the PyCon sprints; if no-one has any objections, I'll get started implementing this 😁

[2018-08-27 00:33] vidyarani-dg commented on #1513
I am working on "replace pickle with json" issue
#1512

[2018-08-27 00:34] tkcranny commented on #1513
I'll be helping on #1115 – "Consider adding a simple subsets / subsequences strategy".

[2018-08-27 00:43] Zac-HD commented on #1514
Yeah... turns out that this needs a fair bit of work sorry!  I've written up working instructions on #1513 and will fix all the other ones after the sprints :cry:

[2018-08-27 00:50] BexDunn commented on #1513
I'm having a look at #1238 :)

[2018-08-27 00:51] BexDunn commented on #1238
I'm having a look at this one @pycon

[2018-08-27 00:58] garyd203 commented on #1513
I will have a look at #356 (capture logging)

[2018-08-27 01:04] whatevergeek commented on #1317
DONE: Delete the line with the assertion
DONE: Add your name to the list of authors in CONTRIBUTING.rst
DONE: Add a test to ./hypothesis-python/tests/cover/test_type_lookup.py to assert from_type(EmptyEnum).is_empty
(you will need to import the enum module and define class EmptyEnum(enum.Enum): pass too)
DONE: Create a new file ./hypothesis-python/RELEASE.rst, with the first line RELEASE_TYPE: pat

[2018-08-27 01:09] whatevergeek commented on #1513
PR sent for issue #1317

https://github.com/HypothesisWorks/hypothesis/pull/1515

[2018-08-27 01:09] whatevergeek commented on #1317
PR sent
https://github.com/HypothesisWorks/hypothesis/pull/1515

[2018-08-27 01:37] BexDunn commented on #1514
Ok, this is my first read-through and I'm working my way through the explanation of hypothesis in the quickstart guide. https://hypothesis.readthedocs.io/en/latest/quickstart.html

I found the example (image) hard to understand on the first read-through (only worked it out while writing this - I'm a bit slow) - maybe we could edit for clarity and explain that you import the example and stick it in

[2018-08-27 01:37] Cameron-JM commented on #1513
Having a look at #1486

[2018-08-27 01:38] Cameron-JM commented on #1486
Happy to have a look at this.

[2018-08-27 01:58] banool commented on #1513
Gonna take a geez at #848.

[2018-08-27 01:58] banool commented on #848
Looking into this.

[2018-08-27 03:31] 00willo commented on #1513
Going to look at #1383

[2018-08-27 04:01] sponster-au commented on #1514
https://hypothesis.readthedocs.io/en/latest/details.html#hypothesis.given
says "The @given decorator may be used to specify which arguments of a function should be parametrized over. You can use either positional or keyword arguments or a mixture of the two."

This is not true; if you use a mixture of positional and keyword arguments to @given, it raises:

hypothesis.errors.InvalidArgument: cannot

[2018-08-27 04:04] 00willo commented on #1383
Working on for the sprints.

[2018-08-27 04:07] tkcranny opened #1517 "Guarantee is_empty() for zero-length sequence strategies"
I've run into an unexpected case where a (list) sequence strategy with the `max_size` constraint set to zero returns `True` for the `.is_empty` flag:

[code]

[2018-08-27 04:13] tkcranny opened #1518 "Check for existing breakpoints when asserting absent sys.gettrace"
While developing a new strategy for hypothesis, I've run into the case where the code can't be debugged, at least by simply running pytest in a debugger. This is due to an `assert` in the `conftest` file:

https://github.com/HypothesisWorks/hypothesis/blob/026fa3598e10be651178c035272c1016a329ad45/hypothesis-python/tests/conftest.py#L80-L83

Personally I'm not sure on the meanings behind its existe

[2018-08-27 04:14] libbyberrie opened #1519 "New Hypothesis Dragonfly branding"
:wave:
@Zac-HD
I have volunteered myself to create some new branding for hypothesis as the current 'limited edition' branding is not Hypothesis' intellectual property. I've created a couple of sketches of a dragonfly that might work and am beginning to do some rough vectors of them for use. Please provide feedback if you have any! I only have a few hours i can dedicate to it today during the sprin

[2018-08-27 04:32] Zac-HD commented on #1519
Thanks so much @libbyberrie - really exciting to have some lovely art for Hypothesis :sparkling_heart: :dragon::bug:

CC @HypothesisWorks/contributors; comments welcome especially from @DRMacIver.  I'm fairly set on replacing the circle with *something* though, even if we replace that in turn eventually as part of a larger brand overhaul.  I'm also pretty keen on sticking with the dragonfly concep

[2018-08-27 04:34] whatevergeek commented on #1513
any quick patch that can be done in around 1.5hrs?
![image](https://user-images.githubusercontent.com/7351683/44640665-522ce600-aa06-11e8-9cb2-eee649918b8f.png)

[2018-08-27 04:35] Zac-HD commented on #1518
The idea here is that we are testing that there is no trace function *unless* we are running everything under coverage in CI, to check that the internal use of coverage metrics isn't leaking.

As a developer experience thing, we should avoid raising AssertionError if an explicit trace function has been set by e.g. `pdb`.

[2018-08-27 04:46] whatevergeek commented on #1513
Is this still a problem?
https://github.com/HypothesisWorks/hypothesis/issues/1493

I'm able to setup and debug in Visual Studio 2017.
I can try check VS Code if it's still an issue there.

[2018-08-27 04:46] libbyberrie commented on #1519
Hey Zac - No problem! 😄
Can you link me to the BSD dragonfly you're referencing so I can make sure the branding remains distinct?
I would also be interested in getting feedback on general style guides -- colours or fonts you would like me to stick to. I'm currently using a combination of #44425F and #A3E9FF for the main dragonfly (see attached preview)
Thanks :)

![image](https://user-images.githu

[2018-08-27 05:02] libbyberrie commented on #1519
Flats are in. need to add some cel-like detail shading to add more definition to the 'tail'* cause at the moment the segments looks a little messy.
![image](https://user-images.githubusercontent.com/6201161/44641421-3592ad00-aa0a-11e8-83e6-5df2acfe5ecb.png)

*Apparently it's called an intersegmental annulus

[2018-08-27 05:25] 00willo commented on #1513
Working on #1311

[2018-08-27 05:32] Zac-HD commented on #1519
https://www.dragonflybsd.org/ has ![this](https://www.dragonflybsd.org/images/small_logo.png)

As to brand and colour guidelines, we don't have any!  I suggest creating 2-3 options for consideration by @DRMacIver and myself :smile:

[2018-08-27 05:34] whatevergeek commented on #1493
I'm able to reproduce this issue.
It's also happening in Visual Studio 2017.
The sample decorated function is also working.

Will try to check this further on VS 2017.
Might be a common issue.

[2018-08-27 05:36] Zac-HD commented on #1517
`.is_empty` will *always* be False if the strategy can generate values, and will *usually* be True (but might still be False) if it cannot.  This is basically a performance optimization, which sometimes allows us to give nicer error messages.

However, in this case the strategy `lists(none(), max_size=0)` can validly generate `[]` - so the *strategy* is not empty (even though the list it generates

[2018-08-27 05:36] #1517 closed

[2018-08-27 05:36] whatevergeek commented on #1513
Please don't close the issue.
I'm able to reproduce it in Visual Studio 2017.
I'm able to confirm the following:

- Debugging using custom decorator works
- Debugging using @given doesn't work. It runs, but doesn't stop on breakpoint.

I'll try to investigate further.

[2018-08-27 05:51] BexDunn commented on #1238
Here's my diff:
https://github.com/HypothesisWorks/hypothesis/compare/master...BexDunn:bextemp

got to head off but will keep working on this over the next few days.

[2018-08-27 05:55] nbgl commented on #840
Claimed by yours truly at PyCon sprints (see #1513).

[2018-08-27 05:55] nbgl commented on #1513
I've claimed #840.

[2018-08-27 05:57] tkcranny commented on #1115
Ok, I have a proof-of-concept implemented by https://github.com/tkcranny/hypothesis/commit/e49a0182ca92dcd0fe654cfc3189c6f413f01033

I'd love some feedback on how the argument validation should be done, and perhaps on more/better testing.

[2018-08-27 05:57] whatevergeek commented on #1493
since it's happening for both...
my hunch is that it has something to do with interactions with ptvsd
https://github.com/Microsoft/ptvsd

[2018-08-27 06:14] libbyberrie commented on #1519
![image](https://user-images.githubusercontent.com/6201161/44643491-11d46480-aa14-11e8-977d-1ecc56ceb7c9.png)
🎉 I think it's pretty much there! I was tossing up adding details to the wings but i think that may be overkill.
I'll work on the text/colour styles now but i doubt i'll get that done before the end of my time in Sydney. Do you guys want the SVGs now?

[2018-08-27 06:25] pazzarpj commented on #1513
I've claimed #847

[2018-08-27 06:31] massey101 commented on #1223
Gonna take a look at this.

[2018-08-27 06:31] massey101 commented on #1513
Looking at #1223

[2018-08-27 06:41] libbyberrie commented on #1519
What would be the best way to deliver an SVG to people? Gitub doesn't support SVg uploads in comments. In the meantime, here's a PNG.
I will be heading home in 20 mins so i'll leave it there for now. I'd love to hear feedback on what colours people would like. Are we set on the blue?

![hypothesis-dragonfly](https://user-images.githubusercontent.com/6201161/44644587-ff5c2a00-aa17-11e8-898e-3602b75

[2018-08-27 06:53] 00willo opened #1520 "Add keywords to setup.py"
Testing with pyroma package showed keywords are missing from setup.py

[code]
Discussed with @Zac-HD and keywords from the github repo below would be good to use.

python testing fuzzing property-based-testing

[2018-08-27 06:57] sponster-au opened #1521 "example doesn't respect verbosity"
If using the `@hypothesis.example` decorator, the `settings.default.verbosity` is changed to `Verbosity.normal`.

The following test case currently fails:

[code]

[2018-08-27 07:08] Zac-HD commented on #1493
I mentioned that this reminded me of #1518 - it's not literally the same cause, but got me on the right track: this is probably because we run stuff under coverage.

So: does the issue still appear if you run with the setting `use_coverage=False`?

Also likely to be related to #1392.

[2018-08-27 07:33] DRMacIver commented on #1519
These are cute! I'd be happy to stick with the blue, but if you've got other colour schemes in mind I'd be up for seeing them.

[2018-08-27 08:00] Zac-HD commented on #1519
Same here - I love it, but would also love to see some colour options like e.g. a darker blue body and green legs?  Not a visual artist though :blush:

[2018-08-27 09:16] pjdelport commented on #1519
This looks pretty awesome! :)

[2018-08-27 09:52] pjdelport commented on #1115
@tkcranny: Thanks for taking this to implementation! :)

[2018-08-27 10:53] Zac-HD opened #1526 "RELEASE.rst is not checked for trailing whitespace"
Which means that when such a file is merged (e.g. from #1515), subsequent builds break.  This is bad and should be fixed ASAP.  See #1525 for temporary workaround.

[2018-08-27 11:06] 00willo opened #1527 "Funding, thanks and other project_urls"
While also optional like the keywords, these could be good for the project to add. Other projects are starting to hook in and use this information.
[code]
It would need a funding and a thanks link setup.

[2018-08-27 11:15] 00willo commented on #1513
Also, working on #1520

[2018-08-27 11:59] 00willo commented on #1513
@Zac-HD I've got a branch ready to make a PR. I created the `RELEASE` file and updated `CONTRIBUTING.rst`.  If you wanted to check out the branch it's https://github.com/00willo/hypothesis/tree/improve-setup.py . If that looks all good, am I good to make a PR?

[2018-08-27 12:45] 00willo opened #1529 "Vagrantfile needs updating"
Executing a `vagrant up` currently fails as the Vagrantfile utilises bootstraps env with Makefile and triggers a `build.sh install-tools`.  This no longer exists.

[2018-08-27 12:48] Zac-HD commented on #1513
@00willo - looks great!  I'd use the following patch note, but with that it's time to open a PR :tada:

[code]

[2018-08-27 12:51] Zac-HD commented on #1529
Alternatively, I'd prefer to simply delete and de-document the vagrant system as there are no active users or maintainers - fixing it would probably just re-break next time we change the build system :cry:

[2018-08-27 12:53] 00willo commented on #1513
Sweet, I'll update and submit the PR in the next few mins

[2018-08-27 13:00] 00willo commented on #1513
@Zac-HD Ah, sorry, I just realised that my branch is behind upstream master, do your merge checks handle that automagically in the PR process?

[2018-08-27 13:30] 00willo commented on #1529
Easy done. The first step is deciding the purpose of Vagrant, and what OS's are required to be the supporting host.

While the different host OS's are mostly irrelevant, depending on how it's configured, it can make a difference, the speed of the share, for instance, can be dramatically different. How to do the provisioning, shell scripts, ansible etc?

[2018-08-27 13:50] nicoabie commented on #1493
Hi @Zac-HD, I checked and I don't have installed the pytest-cov module.
Also I'm also debugging the test directly from visual studio code, not running any command line in particular.

I followed the instructions given [here](https://code.visualstudio.com/docs/python/unit-testing#_pytest-configuration-settings) and when I try the --no-cov flag, VS for some reason cannot find the tests anymore.

If

[2018-08-27 13:55] Zac-HD commented on #1493
Hypothesis actually uses the converge library directly, whether you use pytest-cov or not! Unfortunately I don't use VS so I can't give more useful advice at the moment :cry:

[2018-08-27 13:57] Zac-HD commented on #1513
Yep, should all be fine - it tests the result of merging your branch into master.

[2018-08-27 15:27] Zac-HD commented on #1529
I think the entire reason that's in here is that someone in 2015 once used Vagrant to get Hypothesis working on Windows.  There *is* no ongoing reason to use it, so I'm considering this as part of #1514.

[2018-08-27 15:27] #1529 closed

[2018-08-27 15:49] jochym opened #1532 "Tests fail on OSX for v3.69.3 and v3.69.4"
See runs on conda-forge builder:
https://travis-ci.org/conda-forge/hypothesis-feedstock/builds/421092094

[2018-08-27 21:09] whatevergeek commented on #1493
@nicoabie did you import something to make settings decorator to work?

[2018-08-27 21:20] nicoabie commented on #1493
@whatevergeek

[code]

[2018-08-27 21:32] whatevergeek commented on #1493
@nicoabie
the following also worked on VS 2017
[code]

[2018-08-27 23:03] Zac-HD commented on #852
The coverage job is [now faster than the other jobs](https://travis-ci.org/HypothesisWorks/hypothesis/jobs/421290513); and the slowest 20 tests took 108s, down from 188s.

[2018-08-27 23:12] Zac-HD commented on #1532
Upstream bug in Pytest 3.7.3: pytest-dev/pytest#3888

[2018-08-27 23:12] #1532 closed

[2018-08-28 01:03] massey101 commented on #1513
Looking at #1223

[2018-08-28 01:36] Cameron-JM commented on #1486
PR submitted.

[2018-08-28 01:45] #1410 closed

[2018-08-28 01:50] Zac-HD commented on #1317
Closes by #1515 :tada:

[2018-08-28 01:50] #1317 closed

[2018-08-28 02:09] CuriousLearner commented on #852
Hi,

I'm looking into this :)

[2018-08-28 02:57] CuriousLearner commented on #1513
PR up: https://github.com/HypothesisWorks/hypothesis/pull/1536 💯  🎉

[2018-08-28 03:56] garyd203 commented on #1513
Looking at #1085

[2018-08-28 04:02] sponster-au commented on #1513
I'm looking at #1337

[2018-08-28 04:02] sponster-au commented on #1337
looking at this

[2018-08-28 05:04] vidyarani-dg commented on #1513
PR #1522 up for review

[2018-08-28 05:53] 00willo commented on #1513
I worked out how to run invoke the various tests locally.  I'll drop a comment in the documentation issue.

[2018-08-28 06:13] Zac-HD commented on #1513
Approved!  I'll start merging stuff after 6pm ish, to avoid CI conflicts for those still pushing changes :smile:

[2018-08-28 06:32] pazzarpj commented on #1513
I'm not claiming #847 anymore. It's most likely a maintainer level issue

[2018-08-28 06:32] pazzarpj commented on #847
I'm not working on this anymore. Can a maintainer grab this?

[2018-08-28 07:18] garyd203 commented on #1085
I have added a PR #1538 that has a test case for the coverage collector mistake, and also implements the simple solution proposed by @theaeolianmachine and @Zac-HD .

Do we want to leave this issue open pending a more complete refactor?

[2018-08-28 07:32] Zac-HD commented on #1085
With the basic problem fixed and a regression test in place I'm happy to close this for now.

[2018-08-28 07:34] #1512 closed

[2018-08-28 07:40] jochym commented on #1532
Shall we pack the release anyway? Will it fix itself after fixing pytest?

[2018-08-28 08:55] Zac-HD commented on #1532
You just need to force pytest to 3.7.3 and it will pass, this isn't a hypothesis problem.

[2018-08-28 08:59] jochym commented on #1532
Ok. Thanks

[2018-08-28 09:13] #1337 closed

[2018-08-28 09:14] jochym commented on #1532
Should it be >= 3.7.3 or above 3.7.3?

[2018-08-28 13:28] jochym commented on #1532
It seems there is still some problem with this release. After pinning pytest to !=3.7.2 tests on all platforms now fail. And the failure is different. Would you care to take a look @Zac-HD ?
https://github.com/conda-forge/hypothesis-feedstock/pull/130

[2018-08-28 13:37] Zac-HD commented on #1532
I doubt I'll have time to fix it tonight, but it looks like the new test from #1524 is failing.  Can you open a new issue for that?

[2018-08-28 13:49] Zac-HD commented on #987
This could be implemented efficiently by adding

    PYTHONOPTIMIZE=2 $PYTEST tests/cover/test_testdecorators.py

here

https://github.com/HypothesisWorks/hypothesis/blob/08896299c27aaec6dc232c641d5d93e52a858461/hypothesis-python/scripts/basic-test.sh#L58-L60

where it will only run on the deliberately slower but complete test runs.

[2018-08-28 13:51] Zac-HD commented on #987
And since I read it and wondered, couldn't we just do `$PYTEST tests/nocover/` instead of

https://github.com/HypothesisWorks/hypothesis/blob/08896299c27aaec6dc232c641d5d93e52a858461/hypothesis-python/scripts/basic-test.sh#L41-L43

[2018-08-28 15:53] jochym commented on #1532
Sure. When I get home.
P.

wt., 28.08.2018, 15:38 użytkownik Zac Hatfield-Dodds <
notifications@github.com> napisał:

[2018-08-28 16:47] DRMacIver commented on #987
We could! It's a historical workaround for when the Hypothesis test suite used to regularly segfault pypy.

[2018-08-29 00:07] Zac-HD commented on #1526
The solution I've gone for is to automatically *fix* this when we move the release notes to the changelog, instead of failing CI to make contributors fix it manually before we merge.

[2018-08-29 00:40] Zac-HD commented on #35
I can confirm (IIRC thanks to @vidyarani-dg) that `hypothesis.extra.django.TestCase` and `hypothesis.extra.django.TransactionTestCase` work with Django forms, even though we don't have form-related inference yet.

[2018-08-29 01:54] #1085 closed

[2018-08-29 02:13] Zac-HD commented on #1116
Based on chatting with a few Django people at the PyCon Australia sprints, validators are rarely used for model fields but almost always for forms (see our oldest open issue, #35).  We can add them in either order, but this is low-priority before a `forms()` function exists to use it.

[2018-08-29 05:17] #1526 closed

[2018-08-29 05:18] #356 closed

[2018-08-29 06:40] Zac-HD commented on #1527
Considering these four links: links to specific GH pages don't add much value, and we already have documented email addresses or the issue tracker for contacts (and I'd rather avoid KR's drama).

The current funding arrangements are "get in touch about training or development consulting, or donate to the PSF with a note that you like Hypothesis".  We may change this eventually, but basically colle

[2018-08-29 06:40] #1527 closed

[2018-08-29 06:51] Zac-HD commented on #1513
Thanks so much everyone for working on Hypothesis at the sprints - I had a great time and hope you did too.  It's also been fantastic for the project - **nine releases so far**, another five expected in the near future, and other important contributions from better testing to gorgeous artwork.

From here on, we're back in normal development mode - so while this issue will be closed, you can `@`-me

[2018-08-29 06:51] #1513 closed

[2018-08-29 08:41] #987 closed

[2018-08-29 09:07] jochym opened #1543 "v3.69.6 fails even under pytest != 3.7.3"
Our build still fails one test on all platforms after pinning to non-buggy pytest.
See: https://github.com/conda-forge/hypothesis-feedstock/pull/13

[2018-08-29 09:58] Zac-HD commented on #1543
Ah, this all makes sense now!  It was a database issue, so it didn't show up in the first build on the PR or on master, but only rebuilds.  PR to fix opened :smile:

[2018-08-29 10:15] jochym commented on #1532
Done (https://github.com/HypothesisWorks/hypothesis/issues/1543)

[2018-08-29 11:15] #1511 closed

[2018-08-29 11:16] #1543 closed

[2018-08-29 12:08] libbyberrie commented on #1519
Hello! Attached are a couple more colour experiments for the dragonfly. I am also looking into font branding for you now. I think for simplicity we should stick with the base body font (Lato) but we can incorporate a google font pretty easily for h1-h3s. The attached screenshot is a decent suggestion: [M PLUS Rounded 1c](https://fonts.google.com/specimen/M+PLUS+Rounded+1c)

![screen shot 2018-08-2

[2018-08-29 12:57] jenshnielsen opened #1546 "Log message hiding interfers with pytest log caputure fixture."
The log message hiding merged in #1535 interferes with pytests log capturing.

In the example below I am using the [caplog fixture](https://docs.pytest.org/en/latest/logging.html#caplog-fixture) to capture the log message and test that they are correct.
In this simple case just asserting the number of messages. This results in an empty record list in the first call with  3.69.11 but works as expec

[2018-08-29 13:19] Zac-HD commented on #1519
@libbyberrie these look fantastic!  I (and everyone I've shown them to) especially love the shading on the last example, though opinions on the colours of the purple and yellow dragonflies are mixed.  Further ideas:

- do a version of the original color scheme with two changes: body shading similar to the last, and the wings with a thin dark outline for visibility on stickers and other white backg

[2018-08-29 13:31] touilleMan commented on #1519
Great work @libbyberrie !

I really love the last one (as @Zac-HD said, shading effect make it sooo cool ^^)

Need :laughing:

[2018-08-29 13:57] Zac-HD commented on #1546
...Yep, I can see how this is doing the wrong thing, but I don't know what the right behaviour might be.  @jenshnielsen @DRMacIver any ideas?  The goal is that

1. Each test case has the normal logging config, whatever that is for the user
2. When a test fails, only the logging from the last test case is observable

Unfortunately #1535 gave up (1) to achieve (2).  Should we just revert it and go b

[2018-08-29 14:32] DRMacIver commented on #1546
I don't know much about how logging works internally, but is it possible to in some way mess with it so that logging is disabled but the actual printing to screen is turned off? e.g. it's a bit aggressive, but we could actually try messing with the raw file handles and redirect them inside non-final tests. Anything that relies on output capturing would still work, but anything that actually prints

[2018-08-29 15:16] jenshnielsen commented on #1546
The best would be if this could grab the handler that is responsible for printing to the screen / std_out and disable the output for that one only. I find  https://docs.python.org/2/_images/logging_flow.png useful for understanding how the logger logic works

[2018-08-29 15:33] jenshnielsen commented on #1546
The best would be if this could grab the handler that is responsible for printing to the screen / std_out and disable the output for that one only. I find  https://docs.python.org/2/_images/logging_flow.png useful for understanding how the logger logic works

[2018-08-29 22:05] inglesp opened #1547 "HypothesisDeprecationWarning gives no indication of which test is slow"
I have a handful of tests that sometimes trigger the `HypothesisDeprecationWarning` about tests being slow to run:

[code]

However, the warning doesn't indicate which test is slow.  Is this fixable?

PS Thanks for Hypothesis!  It's second only to the Rust borrow checker for restoring in me a rightful sense of humility.

[2018-08-29 23:19] Zac-HD commented on #1547
Well, running with warnings as errors would make it show in the traceback :wink:

We can also fix this on our end, by adding `self.test.__name__` to all deprecation messages in `core.py`.  This would be a good issue for anyone who wants to get started with Hypothesis, or wants a fix released sooner!

(and thanks for the lovely PS!  mind if I add it to the testimonials page?)

[2018-08-29 23:36] Zac-HD commented on #1546
Disabling a streamhandler would break tests that capture and check stdout and stderr though :sob:

I think we have to take this out of the Hypothesis core entirely, though we may be able to do something in the pytest plugin to clear the captured logs at the start of every test case.

[2018-08-30 08:02] inglesp commented on #1547
It hadn't occurred to me to run with warnings as errors, but adding the test name to the message would be helpful in the case of nondeterministic warnings.

And yes about the testimonial.

[2018-08-30 11:53] #1546 closed

[2018-08-30 13:08] Zac-HD commented on #1493
Looks like the underlying problem is well known: it's not possible to run both `coverage` and a debugger at the same time, because they both need access to `sys.settrace` (Microsoft/vscode-python#693).

We therefore can't *fix* this, but we can document the problem and *maybe* throw a decent error if we can detect a debugger (the trick is distinguishing that from an external coverage context, whic

[2018-08-30 13:10] Zac-HD commented on #1518
[code]

[2018-08-30 13:29] Zac-HD commented on #1392
Nope, that didn't fix it.  Your guesses sound reasonable but I have no solid ideas.

[2018-08-30 13:29] nicoabie commented on #1493
Thanks for the explanation @Zac-HD, I hope [this proposal](https://github.com/Microsoft/vscode-python/issues/693#issuecomment-387516497) on their end gets implemented as a simple workaround at least.

[2018-08-30 13:30] Zac-HD commented on #1493
Me too, though note that even if or when they do it won't help with Hypothesis - setting `coverage=False` is the only actual fix for this!

[2018-08-30 20:27] DRMacIver opened #1551 "RFC: Pull coverage guided testing from the feature set"
I like that we have coverage guided testing, but it causes a bunch of problems (e.g. #1392, #1493, general performance issues), and realistically at the sort of workloads we actually have a good UX for right now, I don't think it can realistically ever pull its weight.

On the UX front, I think what we want is some sort of fuzzer support for Hypothesis, so that we can e.g. run a Hypothesis based t

[2018-08-31 03:01] Zac-HD commented on #1551
Well... `python-afl` is going to have exactly the same problem as discussed in #1493 (still using `sys.settrace`) and the only way it wouldn't *also* reproduce #1392 is if that's something about our `@proxies` decorator instead of coverage (which I think is likely).

So while I wouldn't mind an option to have test case generation driven by `afl`, I don't think removing or deprecating the current c

[2018-08-31 03:04] Zac-HD commented on #1519
We would be delighted by whatever and whenever you want to contribute!  Personally I'm more excited about the art than anything else, and I don't think we have anyone offering to do a website overhaul earlier anyway 😄

And I'm super excited for pin/patch/sticker/shirt/other amazing ideas!

[2018-08-31 07:29] Zalathar commented on #1551
True, but I think the idea is that people will be more willing to accept those limitations in a dedicated fuzzing mode, as long as they can run debuggers and coverage on their “normal” test runs without jumping through hoops.

[2018-08-31 08:42] DRMacIver commented on #1551
Yes, but I think that's OK.

* It would result in things working *by default*, which is an important property
* The fuzzing workflow would populate the example database, so you could then run it with Hypothesis in normal mode
* There is vastly less code (like three orders of magnitude less) in the pathway from fuzzing to running Hypothesis than there is in the normal Hypothesis execution, so there

[2018-08-31 08:43] Zac-HD commented on #1551
Yep, hence moving to coverage off by default.

I just think we can evolve the functionality instead of remove-and-replacing it.

[2018-08-31 10:29] Zac-HD commented on #1551
When you want to run in fuzzing mode!  My suggestion is basically to start by flipping the default, then add the fuzzing mode which makes `use_coverage=True` use a `python-afl` backend (and emit HypothesisWarning if `max_examples<=9999`).

So retaining it basically buys out of a compatible deprecation cycle, and clarifies the messaging around what the setting is for.

[2018-08-31 10:59] DRMacIver commented on #1551
No, the setting is basically useless for fuzzing mode, and we should be using someone else's fuzzer for that. It will work better and be less effort for us to maintain.

[2018-08-31 11:01] DRMacIver commented on #1551
Oh, sorry, I misread part of that:

This also can't happen. The whole point of using someone else's fuzzer is that:

1. The current workflow and UI for using Hypothesis as a fuzzer is very bad to the point of almost total uselessness.
2. The current backend for using Hypothesis as a fuzzer is also very bad to the point of almost total uselessness.

The solution to (1) in particular is that we let

[2018-08-31 11:03] Zalathar opened #1553 "SIGSEGV in shellcheck in CI"
As seen in #1552:
- https://travis-ci.org/HypothesisWorks/hypothesis/jobs/422942355

Also observed yesterday in the merge tests for 091e1311c887f926995742390deb67c01f1b5fe5:
- https://travis-ci.org/HypothesisWorks/hypothesis/jobs/422514430

[2018-08-31 11:13] DRMacIver commented on #1553
Have I mentioned recently that I hate computers? 😭

My general diagnostic procedure for these sorts of problems is to clear the cache and rerun it and see if it persists before looking into it in too much detail. It's not exactly a, err, principled approach, but it works surprisingly often.

One possibility though is that we're hitting https://github.com/koalaman/shellcheck/issues/1053 though I'm

[2018-08-31 11:30] DRMacIver commented on #1551
Yes, that's the idea, but if we're doing that then literally none of the settings are relevant because nothing is under our control.

I don't see why we should gate removing a feature that has never really lived up to its promise on another feature that does what it would have done if it worked, but if you really feel that strongly I don't object to simply turning `use_coverage=False` into the def

[2018-08-31 20:58] piccolbo opened #1554 "Test succeeds on travis-ci but fails locally, today"
I am a bit puzzled by this irreproducible situation. This test passes on travis https://travis-ci.org/piccolbo/autosig and passed locally yesterday, but now doesn't anymore. It doesn't with the normal `make test`,  but it does if I run the test interactively to try and debug it, as if the witness weren't in the example database. I rolled back to the commit that's on travis, to no avail. Now the te

[2018-08-31 21:27] piccolbo commented on #1554
I learned about reproduce_failure. Investigating.

[2018-08-31 21:34] piccolbo commented on #1554
Can reproduce in pdb now. Test fail exactly as I expected, that is x==y in the simplified version above. The questions remain: why now and not before? Why did  I need to use reproduce failure with the example database available?

[2018-08-31 22:09] piccolbo commented on #1554
Solved with assume. The number of invalid examples remained high though. Then I changed something unrelated elsewhere and it went back down to almost 0.

[2018-08-31 23:37] Zac-HD commented on #1554
- [ ] We should clearly document that generated values are arbitrary but not random, and should not be thought of as having any particular distribution or correlation.  Include links to swarm testing, coverage-guided fuzzing etc. as examples of things we *may* do internally.
- I found the data generation time surprisingly high, but it does make sense - you're generating a new class with `attrs` fo

[2018-09-01 03:10] Zac-HD opened #1555 "Report separate statistics for test cases in reuse, generate, and shrink phases"
As discussed in #1554, merging all of these phases into one set of statistics makes them quite difficult to interpret if a test is or recently has been failing.  The count of invalid examples tends to be higher, and it would be nice to distinguish generated, replayed, and shrunk test cases.

This will involve changes to the recording in `hypothesis.internal.conjecture.engine`, and to the reporting

[2018-09-01 03:11] Zac-HD commented on #1554
With specific notes for the action items, I'm going to close this issue - but remain happy to hear and help with any updates!

[2018-09-01 03:11] #1554 closed

[2018-09-01 03:40] Zac-HD commented on #1553
This appears to ~~have been a transient issue~~ be fixed.  (let's keep our happy illusions for now...)

[2018-09-01 03:40] #1553 closed

[2018-09-01 04:31] #840 closed

[2018-09-01 08:47] CuriousLearner commented on #1547
I'm looking into this issue 🥇

[2018-09-01 09:01] CuriousLearner commented on #1547
Hey @Zac-HD I've made the changes. What is the quickest way to test them out?

[2018-09-01 12:19] jochym opened #1558 "3.70.0 fails on py3.5 on all platforms"
See the logs:
OSX: https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/423298695
Win: https://ci.appveyor.com/project/conda-forge/hypothesis-feedstock/build/1.0.315/job/l8qn1pf6l36abb8d
Linux: https://circleci.com/gh/conda-forge/hypothesis-feedstock/606?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

It seems to be a single zip test.

[2018-09-01 19:43] piccolbo commented on #1554
Fantastic input @Zac-HD, thanks ! The one thing I am still not understanding is why I could get the failure with a make test, then in ipython, same virtual env, I did a %load of the test file, run the failing test and it did succeed, seconds later. Shouldn't the bug witness be in the database at that point? What are the conditions that require using reproduce_failure on the same machine, in the sa

[2018-09-02 07:49] libbyberrie commented on #1519
Hello~
Here is a modified version of the first dragonfly, the gradient has been deepened and I also added a small outline on the top of the wing. I had tried outlining the whole wing but when zooming out, as the wings are transparent it just looked too cluttered when it got to smaller sizes.
And here is a potential rainbow wing design also!

![image](https://user-images.githubusercontent.com/62011

[2018-09-02 08:14] DRMacIver commented on #1519
👋 Hi just want to say that I'm sorry I've not been more involved with these discussions. I'm super-excided by these @libbyberrie (and very grateful for the offer to help fix our website branding! Whenever you have time, energy, and motivation is of course fine and November or later is no problem at all) and really like the new dragonfly.

As far as variants go, personally I really like the slight

[2018-09-02 08:30] Zac-HD commented on #1519
I ❤️❤️❤️ the most recent one so much! It's literally better than I was imagining 😍

For the rainbow variant... can we do *more rainbows?*  eg shade the whole area of the large wing (or every wing?) from purple at base to red at tip - I just worry that the current :rainbow: is a bit small and could look like an addition rather than a variation.

[2018-09-02 08:48] libbyberrie commented on #1519
How's this for a gradient?
![image](https://user-images.githubusercontent.com/6201161/44954065-c113ae80-aee0-11e8-9b40-49008f42b5ca.png)

[2018-09-02 09:03] Zac-HD commented on #1519
Shift a little so we get more red and less purple?

But I love it so much I'm wondering about ditching the plain wings.  Probably a bad idea for visual design reasons, but tempting!

[2018-09-02 14:36] Zac-HD commented on #1519
:heart_eyes: I love it!

[2018-09-03 05:05] whatevergeek commented on #692
hi! anyone got a back story on the dragonfly logo?
I'm planning to share hypothesis in a local meetup here in Singapore.
Just in case anyone asks... :-)

[2018-09-03 05:12] Zac-HD commented on #1519
Sounds great! If you're changing the wings I'd do a *little* less purple and more red, so the area of each is more similar.  A version of each with the text `hypothesis.works` or just "Hypothesis" might be useful but again I trust your judgement.

In terms of sending things over, we're going to want them in the repo so a PR seems appropriate!  I'd suggest a new top-level directory `logos/`, with a

[2018-09-03 05:14] Zac-HD commented on #692
#1519 has the newest logos (😍) FYI.

Backstory is that dragonflies are beautiful and active insectivores... That is, they hunt and kill bugs!

[2018-09-03 10:22] #1558 closed, assigned to nobody

[2018-09-03 11:13] jochym commented on #1558
Sorry. Still fails:
https://github.com/conda-forge/hypothesis-feedstock/pull/133

[2018-09-03 11:29] Zac-HD commented on #1558
Looks like that build is using the old source code; compare the failure in decompression on line 179, which is now within the try-block and on line 180:

https://travis-ci.org/conda-forge/hypothesis-feedstock/jobs/423822601#L935

https://github.com/HypothesisWorks/hypothesis/blob/6de22634caef67e95bdf621400da4f3ff242ed28/hypothesis-python/src/hypothesis/core.py#L179-L183

[2018-09-03 16:59] piccolbo commented on #1514
As far as randomized testing here is one clear reference to it: https://hypothesis.readthedocs.io/en/latest/reproducing.html

Hypothesis is described as randomized testing in a number of other documents but I guess that's outside the scope of this issue or our control.

[2018-09-05 03:27] Zalathar commented on #1555
I'm working on some engine changes to make this happen.

(Haven't decided whether I'll do the front-end work as well, but I'll probably get around to it.)

[2018-09-05 04:37] Zac-HD commented on #1238
@BexDunn - how is this going?  No pressure, just let me know if I can help 😄

[2018-09-08 07:02] DRMacIver commented on #1551
https://github.com/nedbat/coveragepy/issues/702 has reminded me of another non-trivial cost of keeping this feature: Our interaction with coverage is brittle and unofficial, and makes life worse for @nedbat as *well* as us, and fixing that issue is going to require a non-trivial amount of debugging / probably more bad hacks on the Coverage API.

Given this, unless someone comes up with at least on

[2018-09-08 07:27] #1486 closed

[2018-09-08 14:11] #879 closed

[2018-09-08 14:11] #1392 closed

[2018-09-08 14:11] #1493 closed

[2018-09-08 14:11] #1518 closed

[2018-09-08 14:11] #1551 closed

[2018-09-08 14:19] DRMacIver opened #1566 "cached_test_function should not execute test function when it would overrun"
As @Zalathar pointed out in #1540 (and is now commented), currently `cached_test_function` will re-execute the test function in some cases where it knows that it cannot work because it's a strict prefix of a previously evaluated test.

In these cases it should avoid that re-execution and should instead return a fake `ConjectureData` object of some sort that indicates it overran.

(In theory it cou

[2018-09-08 16:08] nicoabie commented on #1493
Thanks  @Zac-HD & @DRMacIver  for fixing this. I'd have never imagined the issue was so deep that you had to rip it off!!!

[2018-09-08 16:52] DRMacIver commented on #1493
Well, it probably wasn't, it was more that there was a large number of different issues that were caused by this feature and we decided that it was easier to just remove the feature given its relatively poor cost : benefit analysis.

[2018-09-09 12:05] Zalathar commented on #1555
I've since been distracted by other things, and might not get back to this myself.

[2018-09-09 23:15] #1547 closed

[2018-09-10 09:12] pckroon commented on #1392
I can confirm 3.71.3 resolves this issue. Thanks!

[2018-09-10 09:35] pckroon opened #1568 "Making sure a value came from a hypothesis strategy"
Hi all,

I made a moderately complex strategy and am currently working on testing it. Is there any way to see whether a value (e.g. `dict` or `int`) could have been generated by a specified hypothesis strategy (e.g. `fixed_dictionaries`, `dictionaries`, `integers`)? This goes beyond just the type, and should include e.g. dict keys, lengths and bounds.

[2018-09-10 09:44] DRMacIver commented on #1568
I'm afraid it's explicitly impossible to do this in the Hypothesis model - because a strategy only knows how to construct an object (which is why things like `@composite` can work), it's logically impossible to "run the strategy backwards" to determine if a value is valid.

[2018-09-10 09:44] #1568 closed

[2018-09-10 09:48] pckroon commented on #1568
That makes sense, thanks. I'll find another solution.

[2018-09-10 13:19] Zac-HD commented on #1484
Initial success!  https://doi.org/10.5281/zenodo.1412597

PR to automate updates incoming :rocket:

[2018-09-10 13:40] Zac-HD commented on #1484
I *have* been wondering where in their stack someone has decided that "nobody will ever need to do this more than $X times [per day]"... and about the value of X.  It's possible that CERN can pick genuinely large values of X, which makes the game much more interesting to play :rofl:

[2018-09-10 13:52] Zac-HD commented on #1484
@alexwlchan - I've got a working version https://github.com/HypothesisWorks/hypothesis/compare/master...Zac-HD:doi-minting, but can't work out how authentication works from our Travis setup.  Any hints?  Alternatively, it would be awesome if you just wanted to fix it and open a PR since I'm about to go to bed :sleeping:

[2018-09-11 10:51] BexDunn commented on #1238
@Zac-HD tonight is the first time I've actually managed to sit down and check this issue, sorry!

[2018-09-11 11:15] Zac-HD commented on #1238
No worries!  Ping me if you want a review or some tips on how to test this; if I don't hear anything I'll assume you just want to puzzle it out yourself :smile:

(though if the issue is inactive for more than a week someone else might finish it (and credit you) - so check in occasionally if you want to do it all yourself!)

[2018-09-12 01:49] Zac-HD commented on #848
https://vorpus.org/blog/beautiful-tracebacks-in-trio-v070/

Some really impressive work here, with a lovely example and (importantly) links to the issues and PRs where the code was designed and done.  Short tips - we'll probably want to do all of these:

- Remove unneeded stack frames at the top of a traceback before storing it to reraise later
- Implement context managers by hand, not with a deco

[2018-09-12 10:58] Zac-HD opened #1571 "Move our CI to Azure Pipelines"
https://azure.microsoft.com/en-us/services/devops/pipelines/ - TLDR for open source: 10 parallel jobs, identical to $40/month jobs so probably fast, and supports Windows, Linux, and OSX.

I'd be interested in replacing Appveyor's serialised jobs with identical-but-parallel jobs, and we'd have enough space capacity to replace CircleCI too and still be faster than the status quo.

Tactically, this i

[2018-09-13 11:15] Zalathar commented on #1492
I was able to reproduce this, or something like it, by running just this one test repeatedly in a loop:

[code]

(This typically fails within single-digit minutes on my laptop.)

After setting `Verbosity.debug` and manually adding some additional debug statements, it appears that the test occasionally manages to hit 10 valid draws (to turn off these health checks) before it hits 20 overrun draws (

[2018-09-13 11:36] Zalathar commented on #1492
Oh, it looks like the `lists` strategy is using `biased_coin`, so the first byte in the buffer can be anything, and the tree has no idea that most of those values end up producing the same two results.

[2018-09-13 12:14] Zalathar opened #1574 "generate_novel_prefix interacts poorly with biased_coin (and lists)"
While investigating #1492 and #1573, I was surprised to find that the engine's tree cache was unable to prevent a test from generating the empty list over and over.

This appears to be because `biased_coin` uses the full byte range to generate one of only two outcomes. This fools `generate_novel_prefix` into thinking that it's producing many different values, when it really isn't.

As a result, an

[2018-09-13 12:16] Zalathar commented on #1574
I'm unsure of whether or not this is an actual problem in practice.

[2018-09-14 03:07] Zalathar commented on #1574
Some more observations:

- The failure mode is as if the tree didn’t exist. So it’s a missed opportunity, not a disaster.
- The problem can only manifest if one or both coin-flip outcomes can actually be exhausted. So it mainly affects empty structures near the root of the language.
- There is probably a similar weakness in rejection sampling, though I haven’t investigated this yet.

[2018-09-14 07:32] DRMacIver commented on #1574
Yeah I think this is a general failure mode with Hypothesis's uniqueness detection - in general our input -> output mapping is highly redundant, and we can only detect distinct inputs, not distinct outputs.

I'm not sure that there's all that much we can do about this. It would help a bit to completely abandon randomness and make the whole thing just about some more abstract notion of "non-determi

[2018-09-14 10:36] Zalathar commented on #1574
Indeed, I mostly agree.

I did have some fun ideas about how to improve this, but I'm skeptical that any of them are actually worth the complexity cost in practice, especially since it's such a mild “problem” in the first place.

[2018-09-14 11:57] tirkarthi opened #1576 "Warnings in Python 3.8 (CPython master)"
Trying to install hypothesis shows the following warning in CPython master. I searched for the related warning and master branch but I couldn't find any issue so I am reporting it here.

  from collections import Sequence

Thanks

[2018-09-14 12:28] Zac-HD commented on #1576
Thanks for reporting this!  Would you like to open a PR and fix it?

The patch will consist of deleting that import, prepending `abc` to the names imported from `hypothesis.internal.compat` (line 42), and replacing the only runtime use of `Sequence` with `abc.Sequence` (line 973).  Then add a `RELEASE.rst` for a patch release (copy from one of my open PRs, and see the changelog for message style),

[2018-09-14 12:32] tirkarthi commented on #1576
Sure, thanks for the information. I will raise a PR by the weekend.

Thanks

[2018-09-14 16:18] #1492 closed

[2018-09-14 23:09] #1484 closed

[2018-09-15 01:04] Zalathar opened #1579 "Mark all nodes beyond a discarded example as dead"
*This issue is a negative result, describing an attempted improvement that I eventually decided to abandon.*

---

Inspired by #1574, I wanted to improve the novelty-generator's poor handling of this test:

[code]

Intuitively, we would expect Hypothesis to find all three legal examples, and then stop.

But what actually happens is that we quickly find all three base cases, and then spend the rest

[2018-09-15 01:06] #1576 closed

[2018-09-15 01:08] Zalathar commented on #1579
But then I encountered a less obvious obstacle.

I had been assuming that it was safe to mark these nodes as dead, to prevent the novelty-generator from exploring them.

However, the shrinker uses dead nodes in a slightly different way: if `prescreen_buffer` finds that a candidate buffer is dead, it is rejected as a potential shrink improvement, and never runs.

This unfortunately means that it's

[2018-09-15 01:12] Zalathar commented on #1579
Perhaps there's a reasonable way to get past this obstacle (or declare it a non-problem), but it's seeming less likely that that is the case.

[2018-09-15 01:12] #1579 closed

[2018-09-15 01:17] Zac-HD commented on #1579
Thanks for posting the negative results too!  As well as being interesting and educational reading, it's the best way to avoid duplicating each other's work :smile:

[2018-09-15 06:03] Zac-HD commented on #174
Jython has been on life support since 2015, and seems more likely to die soon than support Python 3.  We'd still be happy to accept patches that improve Jython support, but with no comments here in three years we don't need a dedicated issue.

[2018-09-15 06:03] #174 closed

[2018-09-15 06:26] Zac-HD commented on #1170
Closing as duplicate of #848.

[2018-09-15 06:26] #1170 closed

[2018-09-15 06:56] Zac-HD commented on #1521
This is probably a subtle problem somewhere in our internal scoping, similar to #944.

[2018-09-15 07:04] Zac-HD commented on #833
Closed by #1567.

[2018-09-15 07:04] #833 closed

[2018-09-15 07:26] Zac-HD commented on #354
`GenericStateMachine` is so flexible that I think instantiating and manually driving the class is probably the best way to write explicit examples.  `@example(...)` is simply not supported for stateful tests.

[2018-09-15 07:26] #354 closed

[2018-09-15 15:52] Zac-HD commented on #944
Found the bug; the relevant part of `core.py` (in `wrapped_test`) is passing around an explicit `settings` object to everything *except* those two calls to `report()`.  I'll open a PR soon.

[2018-09-16 05:20] Zalathar opened #1581 "Flaky test: test_can_find_unique_lists_of_non_set_order"
Observed in https://ci.appveyor.com/project/DRMacIver/hypothesis/build/1.0.1382/job/iv87knukf0lst2hk for #1580.

I was able to reproduce this locally after around 2000 tests.

(Turns out installing `pytest-repeat` is much more convenient than writing my own shell-script loops.)

[2018-09-16 05:42] Zalathar commented on #1581
Debug output from the failing pass:
[code]

[2018-09-16 06:04] #944 closed

[2018-09-16 06:04] #1521 closed

[2018-09-16 10:29] Zalathar commented on #1581
The test seems to be sensitive to the iteration order of sets, which is scary.

On paper this shouldn't translate to the test itself being flaky, but the connection is too suspicious to ignore.

[2018-09-16 12:14] Zalathar commented on #1581
I've found a buffer that consistently produces the internal assertion failure, when run with `PYTHONHASHSEED=0`:

[code]

[2018-09-16 12:16] Zalathar commented on #1581
[_seeded.txt](https://github.com/HypothesisWorks/hypothesis/files/2386552/_seeded.txt)

This is output from my run that found this buffer. (I have some local changes applied for extra debugging output.)

[2018-09-16 14:07] Zalathar commented on #1581
[_blocks.txt](https://github.com/HypothesisWorks/hypothesis/files/2386633/_blocks.txt)

[2018-09-16 14:41] Zalathar commented on #1581
It looks like a successful shrink is changing the example's block structure, splitting it into more, shorter blocks.

This causes `j` to run past the length of the original block list, which then causes problems when we immediately use it as an index into that list.

It should be possible to contrive an artificial test case that exhibits this behaviour, without having to rely on set iteration orde

[2018-09-16 21:52] lubieowoce opened #1583 "strategies.from_type doesn't work for the empty tuple type"
## `strategies.from_type(typing.Tuple[()])` should return `()`, but crashes instead

Python==3.5.4, hypothesis==3.71.3

First of all, I know this is a bit silly, since there is only one possible empty tuple, `()`, and hence not much to generate. It's also a pretty niche concern, but I think it'd be nice to support this for completeness.

According to the `mypy` [docs](https://mypy.readthedocs.io/e

[2018-09-16 23:28] Zac-HD commented on #1583
Thanks for reporting this @lubieowoce - I don't think it's silly at all!  If we're going to infer strategies from type hints, we should do it *properly* and not leave out any edge cases.

[2018-09-17 00:05] lubieowoce commented on #1583
Thank you for the quick response! If you're busy with other work, let me know – I'm not familiar with the codebase, but this looks like a small change, so I can try and submit a fix.

[2018-09-17 00:34] Zac-HD commented on #1583
Ah, sorry @lubieowoce - it was small enough, and your report so good (😍) that I just wrote the patch.  If you're interested in contributing beyond just seeing this fixed, I'd be happy to help you pick and issue and troubleshoot any problems though!

[2018-09-17 00:47] lubieowoce commented on #1583
No problem. I don't think I'll be able to contribute to anything bigger right now, but thanks for the offer! If I could take up a bit more of your time, I have a question – do you have any estimates on when this could land in a release? It's not blocking me on anything, as I can work around the issue quite easily, I'm just curious about your release process.

[2018-09-17 01:47] Zac-HD commented on #1583
Our release process is "automatically release every pull request", so it will be on PyPI 15-20 minutes after it's reviewed and merged!  Looking at recent dates in [our changelog](https://hypothesis.readthedocs.io/en/latest/changes.html) should show the typical cadence.

Of course I can't review my own PRs, but it's a small enough patch that even with most of the other maintainers at PyCon UK I'd e

[2018-09-17 03:28] Zalathar commented on #1581
Hmm, it's more subtle than that, unfortunately. My first attempt at an artificial test case didn't fail.

[code]

[2018-09-17 03:46] Zalathar commented on #1581
This one seems to do the trick:

[code]

[2018-09-17 11:48] vtbassmatt commented on #1571
Hi there, I'm a PM on Azure Pipelines. Let me know if there's anything I can do to help out here.

[2018-09-17 12:18] #1299 closed

[2018-09-17 12:18] #1581 closed

[2018-09-17 12:45] libbyberrie commented on #1519
Hello! Just letting you know that I'm not dead :P
made some favicons for you today. Decided to limitthe favicon to just the head as anything more would be too cluttered. Here is it zoomed into 2x actual size (White background won't be there. will be saved with transparency)

Need to work on logotyping and a styleguide next! still not sure what else to do in terms of branding and swag...

![screen

[2018-09-21 00:55] Zac-HD opened #1591 "Check for overflow when casting non-int/float types in Numpy arrays"
In [this StackOverflow question](https://stackoverflow.com/questions/52410975/hypothesis-strategy-generating-inf-when-specifically-asked-not-to), the lack of overflow warnings for complex numbers led to some confusion.

We should add a check for overflow in arrays of dtype `complex64` (`complex128` and larger can't overflow, because we only generate 64-bit floats).  Here's the code that currently

[2018-09-21 01:02] Zac-HD commented on #455
This would be a good first issue:

- Add an early section to [`settings.__call__`](https://github.com/HypothesisWorks/hypothesis/blob/b4a064f0d922c04a53cc8a8b498260875110c2a4/hypothesis-python/src/hypothesis/_settings.py#L194) which checks `isinstance(test, stateful.GenericStateMachine)` and if so, just does `test.TestCase.settings = self` then returns.
- Add a test to `hypothesis-python/tests/cov

[2018-09-22 12:52] Zac-HD commented on #1134
Closing this because we've missed basically all the proposed timelines.  The parts we *have* decided on (e.g. deprecation policy) are now documented; for the rest we should open a new issue when someone wants to do a major release and discuss it afresh then.

[2018-09-22 12:52] #1134 closed

[2018-09-23 05:31] Zac-HD commented on #1254
Closed by f0045243da44f4ef51453a14180464e179219c23.

[2018-09-23 05:31] #1254 closed

[2018-09-23 06:30] Zac-HD commented on #1502
Hey, @mulkieran - I think I've tracked this down to a bug in `OneOfStrategy`, where if `bias is not None` the sampler might be operating off the pre-flattened list of strategies.  That's usually shorter, but could be longer and thus raise an `IndexError`.  I haven't written a good regression test yet, but if you want to try out the fix feedback would be great:

https://github.com/HypothesisWorks/h

[2018-09-23 12:46] Zac-HD commented on #1502
Got it; this does indeed fix it.  If the `extend` function in `recursive(...)` returns a `one_of` with some strategy appearing in multiple positions, that could trigger the error above.  This in turn could happen when two or more of the array/dict/struct options were disabled, iff max_codes was also >= 8.

The minimal reproducer is simply `recursive(none(), lambda x: x | x)`

Fix incoming!

[2018-09-23 13:29] SuperStormer opened #1596 "Outdated documentation for datetimes, times, and dates"
The documentation for `hypothesis.strategies.datetimes`, `hypothesis.strategies.times` and `hypothesis.strategies.dates` still uses the old parameter names(ex:`A strategy for times between min_time and max_time.`) instead of `min_value` and `max_value`.

[2018-09-23 13:44] Zac-HD commented on #1596
Eek, so it does!  This should definitely be fixed - we just need to update the docstrings, here:

https://github.com/HypothesisWorks/hypothesis/blob/c4cf92422f97365427d3c938b85495a7b0429928/hypothesis-python/src/hypothesis/strategies.py#L1618-L1619

@SuperStormer - would you like to do this, or leave it for someone else?

[2018-09-23 13:50] Zac-HD opened #1597 "Move Travis jobs checking documentation and requirements to whole repo tests"
This will mean we only have five jobs in the precheck stage, and can run them all in parallel.  I'd consider also moving the lint and check-format jobs, as worker startup time dominates the runtime for most of our prechecks.

[2018-09-24 05:55] whatevergeek opened #1598 "Example Database Viewer/Manager"
Apologies if there's already a way to do this.

Is there a way we can view the contents of Example Database?
I want to know what cases were already run so far for a particular test method.

I understand that the advice currently is to write the examples explicitly in code and not to depend on the examples database as they will be overridden during upgrades, etc.

Perhaps, it's good to have a way t

[2018-09-24 06:28] DRMacIver commented on #1598
Not really, no.

No, this is essentially impossible - the example database simply *can't* be robust against changes in the data generation, partly because of the underlying mechanism and partly because this would violate the rule that everything (with the exception of things you have explicitly requested with `@example` and thus are very visible) satisfies the invariants of your generated data.

A

[2018-09-24 07:34] Zac-HD commented on #1598
A database viewer could be part of #172, but as David says it's not likely to happen soon unless someone writes it for us (in which case, awesome!).

Try turning up the `verbosity` setting, and optionally emit extra information with `hypothesis.note(...)`.  If you'd prefer to aggregate and summarise the output, try using `hypothesis.event(...)` with the `--hypothesis-show-statistics` command-line

[2018-09-24 07:34] #1598 closed

[2018-09-24 08:03] Zac-HD commented on #1555
The reporting side of this should be relatively easy to build on top of #1577, and after that's merged I can have a go at the collection side too... but if anyone else wants to try go for it, and I'll post again before I start.

[2018-09-24 08:09] Zac-HD commented on #437
Notes:

- Create a new `Statistics` type for data storage, using `attrs` for easy conversion (and collection?).
- Store a dict of `Phase`-to-`Statistics` as `test_func.hypothesis.statistics`.  The `.hypothesis.*` attribute-space is for public stuff, and the dict is because I want #1555 done first so the format is stable.
- Or maybe have the dict internally?  I'd like a simple "give me the string"

[2018-09-24 09:32] whatevergeek commented on #1598
Hi @DRMacIver and @Zac-HD ,
Thanks for the prompt response and insights. I'll be sharing about hypothesis tomorrow in a local meetup. These info are handy in case someone has similar questions tomorrow. :-)

[2018-09-24 13:00] mulkieran commented on #1502
Ok! Thanks for finding this.

[2018-09-24 16:01] matthijskooijman commented on #1254
Sorry, never got around to actually making the PR (haven't been working on the related project since then). Thanks for picking this up, change looks good to me :-)

[2018-09-25 12:03] DRMacIver opened #1600 "Don't flatten branches in biased OneOfStrategy"
In #1502/#1595 we ran into the fact that flattening of branches in `OneOfStrategy` could cause weird behaviour when `bias` was not None. @Zac-HD fixed the weird behaviour, but I wondered whether we should be flattening at all in this case.

I think this issue admits one of two possible fixes:

* change the logic of `OneOfStrategy` to not flatten when there is bias. In doing this it might make sens

[2018-09-25 13:14] #1502 closed

[2018-09-26 14:43] Zac-HD commented on #639
While I would still love to see this - and I'd be happy to help anyone who wants to write it - [our contributing guidelines now recommend developing new extras as independent packages](https://github.com/HypothesisWorks/hypothesis/blob/master/CONTRIBUTING.rst#pull-request-or-external-package).  Once complete and with some feedback from users, it can be merged just like `from_regex` was.

[2018-09-26 14:43] #639 closed

[2018-09-26 14:44] Zac-HD commented on #855
While I would still love to see this - and I'd be happy to help anyone who wants to write it - [our contributing guidelines now recommend developing new extras as independent packages](https://github.com/HypothesisWorks/hypothesis/blob/master/CONTRIBUTING.rst#pull-request-or-external-package).  Once complete and with some feedback from users, it can be merged just like `from_regex` was.

[2018-09-26 14:44] #855 closed

[2018-09-26 14:54] Zac-HD commented on #114
Since this issue was opened, the Hypothesis' internal model has changed substantially.

Now, there are basically two approaches to this, with distinct problems:

1. Store the values generated by the strategy, and reuse those.
   Unfortunately this is not possible in the general case, as the possibility of mutation would break all our core invariants.
2. Store the example buffer, and reuse that for

[2018-09-26 14:54] #114 closed

[2018-09-26 14:57] Zac-HD opened #1604 "New healthcheck for flatmap drawing from just"
There are two ways to draw a value from some strategy `s` and apply a function `f` to the value:

- `s.map(f)` is the right way to do it.
- `s.flatmap(lambda x: just(f(x)))` is... not.  It *works*, but it's slow and doesn't shrink so well.

However, the flatmap form does crop up in the wild - notably causing performance problems in #114, and also in [`hs-dbus=strategies`](https://github.com/strati

[2018-09-26 15:12] thijsvandien commented on #114
Would it be too expensive for Hypothesis to check if any mutation took place (with some hashing I suppose) and automatically regenerate the examples only if needed?

[2018-09-26 15:18] DRMacIver commented on #1604
I don't think this can be made to work correctly. e.g. `s.flatmap(lambda x: some_strategy if x else just(42))` is perfectly valid, so you need something more than checking if the result is a `just`.

On top of that, I'm not convinced it would be useful. `flatmap` shrinks identically to the equivalent map these days, and it shouldn't be notably slow except in the sense of involving slightly more fu

[2018-09-26 15:31] Zac-HD commented on #114
Between unhashable types and custom implementation of `__hash__` I wouldn't like to try!

Personally, I'd do some combination of more hardware, fewer examples per run, and consolidating tests (as they should all pass normally, there's no disadvantage to this unless they fail).

For more specific advice, David and I both offer Hypothesis-related consulting for non-open-source projects; so feel free

[2018-09-29 23:57] Zac-HD commented on #652
Nope, turns out it's a lot simpler than that - purely a presentation issue where we should pass `stacklevel=2` but currently have `stacklevel=3`; the traceback is fine but we've told the warnings machinery not to display the relevant frame!  Fix incoming :smile:

[2018-09-30 04:52] Zac-HD commented on #163
#1343 added the ability to insert a decorator 'under' `@given` around the test body, and there are more specific issues for unittest setup/teardown and pytest fixtures.  I'm going to close this, but feel free to open a new issue if you have a related problem!

[2018-09-30 04:52] #163 closed

[2018-09-30 10:12] Zalathar opened #1612 "print_blob setting does not validate its value"
The `print_blob` setting controls whether a `@reproduce_failure` blob is printed. It is supposed to be set to a value of `PrintSettings`.

However, because this setting has no validation, it is currently possible to specify other values. With the current code, this is effectively equivalent to specifying `PrintSettings.NEVER`.

In particular:
- If the user specifies `print_blob=False`, it will acc

[2018-09-30 10:15] Zalathar commented on #1612
I had originally written a simple patch to add `options=tuple(PrintSettings)` to the definition of `print_blob`. That turns non-`PrintSettings` values into a hard error.

But since the current code accidentally handles False “correctly”, this might need to be a deprecation warning instead, which is a bit more work.

[2018-09-30 14:18] #652 closed

[2018-10-01 02:42] #1612 closed

[2018-10-02 05:36] Zac-HD commented on #1093
Closing this as we now have decent development guides, far better internal commenting, and a growing pool of people who have contributed to the Conjecture engine.  Child issues tagged `shrink-quality` remain open and active though, and further comments about coordinating them are still welcome here.

[2018-10-02 05:36] #1093 closed

[2018-10-02 09:14] Zac-HD commented on #185
We're closing this issue as `wontfix`, because supporting a config file is likely to be more trouble than it's worth and fail in ways that are seriously confusing to users.

For example: when should the config file be read - in relation to what setup stage of any test runner (`unittest`, `nose`, `pytest`, etc...)?  What about experimenting in the REPL?
 There's no answer to this that doesn't somet

[2018-10-02 09:14] #185 closed

[2018-10-02 13:36] Zac-HD commented on #341
This is a symptom of the more general weakness that Hypothesis generates all unicode strings as a list of individual codepoints, so we can't do multi-codepoint nasty things like combined glyphs, non-normalised strings etc. at rates higher than chance.

The current API where `text()` takes a strategy for the alphabet makes this hard to fix, but we can probably think of something creative...

[2018-10-02 13:42] Zac-HD commented on #1387
I've just been looking at `integers()` for #1616, and the root cause is that we delegate from `BoundedIntStrategy` directly down to `cu.integer_range` which is basically a uniform distribution.  Instead, we probably want to check if the range is large (e.g. >16-bit) and if so use something more like the psudeo-geometric approach from `WideRangeIntStrategy`.

[2018-10-03 02:02] Zac-HD opened #1617 "Internal optimization for unique lists with known number of elements"
For example, `sets(sampled_from(x), max_size=len(x))` will almost always stop due to rejection sampling before it reaches the max size - and so we're likely to miss errors that occur when all valid elements are present.  `min_size=len(x)` is just hilariously inefficient, and users would be better off with `permutations(x).map(set)`.

But why should users have to care about our internal limitations

[2018-10-03 04:22] Zac-HD opened #1618 "min_size arguments should default to zero instead of None"
We default arguments to `None` where we don't have a known bound (e.g. `integers()`), or where a non-`None` default argument would require us to weaken our checks for consistency (e.g. if `min_value` defaulted to `-inf` for `floats()`, we couldn't warn a user who passed `min_value=-inf, allow_infinity=False`).  For strategies such as `dates()` we don't accept `None` at all!

It turns out that neit

[2018-10-03 04:32] Zac-HD opened #1619 "Deprecate floating-point values for size arguments"
https://github.com/HypothesisWorks/hypothesis/blob/859069c52ccf041234971f30aedaf058d91e7bb7/hypothesis-python/src/hypothesis/internal/validation.py#L102-L111

Sizes - the number of elements in a collection, bounded by `min_size` and `max_size` arguments, should always be integers.  However, we currently also accept floats for these arguments!  We should replace the `check_type(integer_types + (flo

[2018-10-03 07:04] Zac-HD commented on #733
Closing this because there are two possible solutions:

- Transparently make function-scoped Pytest fixtures Hypothesis-example-scoped, i.e. #377
- Ask `pytest-django` to handle this based on the `django_db` mark they add.  [Here's how `pytest-trio` handles it](https://github.com/python-trio/pytest-trio/blob/46f2ba7bf337d836e4b640a0d4ecf76411341366/pytest_trio/plugin.py#L340-L356).  In this case i

[2018-10-03 07:04] #733 closed

[2018-10-03 09:48] mridul2899 commented on #1619
Hey Zac!
I'm Mridul, a beginner in the field of open source development. I think I can resolve this issue. Can you assign this issue to me?

[2018-10-03 09:53] Zac-HD commented on #1619
Sure! It's all yours for the next week - just @-mention me if you have any more questions, and welcome to Hypothesis :sparkles:

[2018-10-03 11:41] #1597 closed

[2018-10-03 12:47] #198 closed

[2018-10-03 12:47] #1256 closed

[2018-10-03 15:22] #1153 closed, assigned to Zac-HD

[2018-10-03 15:24] tankoyarik opened #1620 "Pytests are stuck on 77% with all hypothesis versions since 3.71.10"
On our project which is running on Flask and pytests we have an issue with the test. Test have been stuck at 77% from since hypothesis 3.72.0 was released. Actually, all tests are passing in case we have hypothesis version 3.71.10 and lower. The issue keeps occurring when we run tests locally, in Travis CI, in Docker.
We think that it could be a problem with cache data of the hypothesis library.
!

[2018-10-03 15:28] Zac-HD commented on #1620
Try disabling the database, e.g. by putting the following in `conftest.py`:

[code]

Do any tests execute at all?  Can you share a link to a Travis log?

[2018-10-04 08:18] Zalathar commented on #1620
The intervening PRs that touch released Python code are #1594 and #1572.

In theory neither of those should be able to cause a successful test suite to hang, but I can't rule out the possibility completely.

[2018-10-04 11:38] tankoyarik commented on #1620
Attaching the file with travis logs as per your request.
[Travis log](https://github.com/HypothesisWorks/hypothesis/files/2446161/Travis.log)

[2018-10-04 11:59] Zac-HD commented on #1620
[code]

I'd guess that the next test is hanging forever - can you try running just that test to see if it hangs?  What is [`$PYTEST_CURRENT_TEST`](https://docs.pytest.org/en/latest/example/simple.html#pytest-current-test-environment-variable)? when it hangs?

[2018-10-04 12:32] tankoyarik commented on #1620
If I run the test separately, it passes without any issues. Moreover, all tests associated with guestlists are located in 1 module: "
![screenshot from 2018-10-04 15-28-10](https://user-images.githubusercontent.com/37215092/46474122-bd7a8c80-c7ea-11e8-8aeb-2db21fcc491b.png)
guestlist". So the last test from field_test.py is running (77%) and the next one should run in get_test.py...but for some re

[2018-10-04 12:38] Zac-HD commented on #1620
Check the environment variable - I suspect it's the next one hanging.

[2018-10-04 12:50] Zac-HD commented on #1620
@tankoyarik - we really need a reproducible example in order to tell if this even has anything to do with Hypothesis, either a simplified version of the hanging test or the actual original code.

[2018-10-04 13:39] Hultner commented on #1620
@Zac-HD This problem exists in our private codebase so we can't provide the source code. Our cron-run tests on travis-ci started suddenly failing one day and when I started diffing the logs between the failing run and the working run on the same commit I could only find one difference.

The failing ones were using hypothesis 3.72.0 (this started happening on the day of the release) and the success

[2018-10-04 14:01] #1620 closed, assigned to nobody

[2018-10-04 14:10] Hultner commented on #1620
@Zac-HD Seems like we're still having some issues, @tankoyarik is currently investigating.

As for the reproducible sample, the problem is that we're not exactly sure what's causing it but we know we can solve it by pegging certain versions of Hypothesis. It certainly seems to be related to the hypothesis version but since we're not getting any errors (it just freezes) it's a bit difficult to know

[2018-10-04 23:56] Zac-HD commented on #1401
I'm going to open a few PRs to improve the variety of text we generate, then move discussion of how to drive that with swarm testing on the backend to a new issue.

Late response, but you can also use `@settings(database=None)` to disable the database for that test.

[2018-10-05 14:39] Zac-HD commented on #341
Turns out that sampling from categories then codepoints boosts the chance of drawing a letter followed by a combining mark enough that this now just works :rocket:

[2018-10-05 15:12] rob-smallshire opened #1622 "Proposal for a more flexible bounded floats strategy"
# Motivation

In many of the applications where I benefit from using Hypothesis, I find myself needing a strategy for generating floats drawn from half-open intervals. The existing `hypothesis.strategies.floats` strategy draws from a closed interval, and though it's straightforward enough to exclude one or both of the limits using `assume()` in the body of the test, this makes the test somewhat ha

[2018-10-05 16:00] Zac-HD commented on #1622
Happily, we have implemented `next_up` and `next down` in [`hypothesis.internal.floats`] (https://github.com/HypothesisWorks/hypothesis/blob/master/hypothesis-python/src/hypothesis/internal/floats.py), and it already handles various widths! This is technically private/unstable API, but we're going to need it for as long as we e.g. accept integers as bounds for floats so you'd be pretty safe :smile

[2018-10-05 16:13] DRMacIver commented on #1622
How would we feel about `include_min` and `include_max` arguments? I think this is a common enough use case that it's worth making it easy for users.

[2018-10-06 05:40] Zac-HD commented on #1622
We already have a lot of logic to deal with tricky endpoints, so it would **not** just be a matter of incrementing or decrementing the float bound.

Take the example of `min_value=Fraction('1/3'), include_min=True`.  This number cannot be exactly represented as a float, so we (currently) calculate the closest float above in order to respect the property that no example may be less than `min_value`

[2018-10-06 08:34] rob-smallshire commented on #1622
Using `filter` works. Using `assume` works. Both express the *how* to generate the required values, rather than declaring *what* I want to be generated. For me, this is an important distinction in the context of specifying program behaviour through tests.

Hypothesis gives us some powerful tools to adapt strategies in `map`, `filter` and `flatmap`, allowing us to define ad hoc strategies as fairly

[2018-10-06 09:15] DRMacIver commented on #1622
If there's a pretty trivial way to exclude one or both of the endpoints, what's the difficulty with us implementing the feature in that pretty trivial way?

[2018-10-06 09:52] rob-smallshire commented on #1622
I have a preference for `exclude_min=False` and `exclude_max=False` as defaults over `include_min=True` and `include_max=True`.  I have difficulty expressing why though. I think it's because adding new options which default to "off" feels better than adding new options which default to "on". In light of that, you should probably discount my opinion and think about which options new users would pre

[2018-10-06 11:12] Zac-HD commented on #1622
My problem isn't implementation - it would be 4-10 LoC, and we already have piles of nasty internal logic for floats - it's whether users can easily form a correct mental model of how `floats()` actually works.

`exclude_min` and `exclude_max` are *better*, but if I knew nothing about Hypothesis seeing `exclude_max=False` in the signature of `floats()` would make me highly suspicious and if I knew

[2018-10-06 11:31] rob-smallshire commented on #1622
The documentation strongly suggests (to me), through its use of <= and >= that I can expect the end points to be generated, and in fact I expect these value *in particular* to be generated as they're likely be be some of the more interesting examples from a testing perspective.

Now I've learned that Hypothesis willl silently coerce other number types to floats with loss of precision I want to ope

[2018-10-06 11:59] DRMacIver commented on #1622
I think this is a bad argument. A *lot* of functionality in Hypothesis core is stuff you could easily add helpers for to your own project, and that's a good thing. The aggregate of many trivial usability features is not a trivial usability improvement, but a large one.

TBH adding them to the other strategies which accept `min_value` and `max_value` seems pretty reasonable to me. Maybe what we nee

[2018-10-06 12:55] Zac-HD opened #1625 "Deprecate min_value or max_value that cannot be generated"
Many Hypothesis strategies accept `min_value` and `max_value` arguments, which usually have to be the same type as the examples the strategy can generate.  The strategies for numbers generally allow any type of number to be used - which is convenient, but has a surprising catch: sometimes, the strategy will be unable to generate the given bound or bounds!

We should deprecate bounds for `integers(

[2018-10-07 01:50] lgoeller commented on #1618
I'm going to take this one on!

[2018-10-08 00:17] Zac-HD commented on #852
A fun project in data collection and analysis would be:

- Determine the duration of each test, perhaps with the `--durations` argument to pytest
- Use Coverage's new support for ["who tests what"](https://nedbatchelder.com/blog/201810/who_tests_what_is_here.html)
- Calculate the slowest tests that do not uniquely cover any branches (which can trivially be moved to `tests/nocover/`)

This is a dif

[2018-10-08 21:41] Zac-HD commented on #1625
Awesome!  This issue is all your for the next week :smile:

[2018-10-08 22:59] #1618 closed

[2018-10-09 06:13] seifertm opened #1630 "Allow warnings-as-errors to be disabled when running tests"
Sorry to pull this issue out again… I am currently trying to package a more recent version of Hypothesis (Python) for Gentoo Linux. When running the tests with Python3, I get a DeprecationWarning (from `pluggy-0.5.2`) that is treated as an exception (the same error was described and solved in https://github.com/HypothesisWorks/hypothesis/issues/969). Previously, it was possible to configure the be

[2018-10-09 06:34] Zac-HD commented on #1630
No worries!  We don't currently have such an option because it tends to be a pain to maintain, but I'd be happy to add ignore lines for the specific warning(s) you're seeing if you can post them.  Alternatively you could just patch that line out!

[2018-10-09 08:05] #493 closed

[2018-10-09 13:21] Zac-HD commented on #1630
[code]

should work, and I'd accept a PR to add it to our test config if it does - or a wider filter so long as it only catches warnings from old versions of indirect dependencies.

[2018-10-09 14:04] seifertm commented on #1630
It works with `module='pluggy'`, thank you! Python's warnings module is quite powerful.
I filed a PR accordingly.

[2018-10-09 15:45] #1630 closed

[2018-10-09 19:40] fgruen commented on #1625
just to make sure that i'm on the right path - in the end it should look similar to my first commit, right?
https://github.com/fgruen/hypothesis/commit/cc8467728efa1b9738df4f0f88eafe58e5dc7af2

[2018-10-10 00:14] Zac-HD commented on #1625
Yep, I've left two comments but that's an excellent start 🚀

[2018-10-10 21:34] math2001 commented on #1619
What should happen if someone passes `5.5` for example? I've quickly tested, and it seems to do some sort of `math.ceil`.

That seems to be handled on https://github.com/HypothesisWorks/hypothesis/pull/1634 though, so should I just test "whole" float numbers for this issue?

[2018-10-11 03:09] astronouth7303 opened #1636 "Cannot infer from numbers ABCs"
Trying to use `infer` when the annotation is from the `numbers` module ABCs fails, saying:

[code]

The behavior I expected is that it would just plug in a `float`.

[2018-10-11 05:37] Zac-HD opened #1637 "Support automatic 'swarm testing' for example selection"
To paraphrase [*Swarm Testing* (Groce et al, 2012)](https://www.cs.utah.edu/~regehr/papers/swarm12.pdf),

This is at minimum worth evaluating for Hypothesis - stateful testing would be a close match to the paper, while the benefits of swarm testing for data generation in general are less well explored but potentially substantial for e.g. Unicode text.  The latter would require exposing data struct

[2018-10-11 07:50] Zac-HD commented on #1600
@math2001 is looking at this issue; as usual it's reserved for one week.

[2018-10-15 06:55] Zac-HD opened #1639 "Should we use Bors to avoid failed releases?"
Our current CI system works pretty well in practice:

1. a pull request is opened and CI runs the tests
2. (later,) a maintainer merges the branch into master
3. CI tests the commit, and assuming it passes CI pushes an update and deploys

Unfortunately this can and sometimes does - see e.g. #1588 - fail at step (3) if another PR has been merged to master between (1) and (2).  We also have fairly r

[2018-10-16 08:29] #455 closed

[2018-10-16 13:45] Zac-HD commented on #1212
Uh-oh.  The root cause is actually that `floats()` only uses the documented shrink order if there are no bounds.  Fixing this will be... complicated, much worse than the corresponding problem with `integers()` (fixed in #1616).  I'll write up a detailed issue to replace this one, including some solutions for discussion.

[2018-10-16 22:52] #1625 closed

[2018-10-17 06:44] math2001 commented on #1600
Hey, I've gotta to do a fair bit of maths, at least until the summer holidays. So, if any one wants to take up this issue, go ahead.

To fix this issue, I'm going to need some of time to actually understand what's going on. I want to make sure I use this bug to get the big picture.

[2018-10-17 14:58] rsokl opened #1641 "Broad question about Hypothesis"
I have been using hypothesis for some educational tools that I am developing, and would like to give a presentation to my colleagues about the Hypothesis libraries.

While doing a literature review about various testing methodologies (QuickCheck, AFL, the swarm testing that is discussed in #1637, etc) to learn more about this area of work, I realized that I have no idea if the engine driving Hypot

[2018-10-17 16:00] DRMacIver commented on #1641
The main research Hypothesis is built on is QuickCheck. Roughly Hypothesis is QuickCheck + One Big Idea (which is the monadic parser combinators stuff. I hope to be able to announce a paper about that soon, though we never use the term in this paper. Will know in about a month. 🤞) + A lot of UX and engineering work.

It's had a lot of "general influence" from studying the design of fuzzers like Am

[2018-10-17 16:02] DRMacIver commented on #1641
Oh, and PS, thanks for the kind words! Autograd looks like a neat library, and that's a cool application of the stateful testing. Did it find anything fun?

[2018-10-17 16:29] rsokl commented on #1641
Thank you for the feedback (and for taking care to use the full names of the various fuzzers so that I can read up on them)! I'll be eager to read that paper if/when it comes through.

The stateful testing absolutely found some fun stuff. There were probably 10 problematic combinations of graph topologies and backprop/clear-gradient calls that it sniffed out. My code actually got simpler and simpl

[2018-10-17 16:37] DRMacIver commented on #1641
Heh. I wish you'd got in touch yesterday. I would have included some of this in a talk I gave to a bunch of neural network specialists this afternoon. This is really neat either way though, thanks for sharing!

[2018-10-18 03:48] Zac-HD opened #1643 "Check for settings assigned as attribute on StateMachine class"
#1638 allows `@settings(...)` to be used as a class decorator on state machine classes, which substantially improves the ergonomics.  However, the old mechanism of assigning an attribute is still supported.  #1642 points out a fairly subtle trap in this behavior though, by fixing it in the docs:

[code]

Fortunately we can use essentially the same solution as in #1572, defining a custom `__setattr

[2018-10-18 09:47] #1238 closed

[2018-10-18 11:11] Prsna23 commented on #1636
I would like to work on this issue. Can you please elaborate a little more on this?

[2018-10-18 12:05] Zac-HD commented on #1636
Hi Prasana - unfortunately if the problem is not obvious from reading the docs on `numbers.Real` and `hypothesis.strategies.from_type` and the solution obvious from reading the code linked above, this is probably not a good issue for you :confused:

[2018-10-19 11:10] Zac-HD commented on #1641
Thanks for getting in touch Ryan!  It's always lovely to hear from happy users doing cool things with Hypothesis, and that's a very nice trophy case 😄

Closing the issue because there's no specific action we need to take, but I'd love to stay in touch!

[2018-10-19 11:10] #1641 closed

[2018-10-19 12:33] Zac-HD commented on #1643
This issue would be a good introduction to Hypothesis for an intermediate programmer who understands metaclasses, or at least can follow the example of `hypothesis.settings` to customise the behaviour of the class object but not instances thereof.

[2018-10-19 12:54] Zac-HD commented on #469
I haven't done a *full* sensitivity analysis, but in practice to trigger this assertion we have to generate a list of length >=6 consisting of a single floating-point value.  The following test reliably finds the `[1.0] * 6` example as of Hypothesis 3.78.0, and is numerically equivalent:

[code]

So implementing swarm testing (#1637) will fix this but anything less probably won't.

[2018-10-19 20:12] SuperStormer commented on #1636
I'm working on this issue

[2018-10-21 17:26] chebee7i opened #1646 "NumPy RandomState"
When generating strategies that need random number generators, it is frequently more useful to use NumPy's `np.random.RandomState` rather than `random.Random` since it provides much more functionality.

It looks like `RandomWithSeed` is subclassing `random.Random`.  Might there be a way to support both interfaces, cleanly and simply?

[2018-10-22 22:28] #1636 closed

[2018-10-23 01:05] Zac-HD commented on #1646
Yes, we could add a new strategy `hypothesis.extra.numpy.random_states` that is similar to `hypothesis.strategies.randoms`.

However, strategies should never need random number generators!  Using a PRNG makes it far more difficult for Hypothesis to find and shrink simple counterexamples to your assertion.  It is usually better to describe the space of valid data using strategies, rather than the d

[2018-10-23 01:14] #848 closed

[2018-10-23 03:30] reaperhulk opened #1648 "SyntaxError on Python 2 with 3.79.2"
The latest release causes a SyntaxError on older Python 2.7 (occurs on 2.7.3 and 2.7.5 in pyca/cryptography's CI):

[code]

[2018-10-23 03:32] Zac-HD commented on #1115
Future work on this issue should build on #1533, with appropriate credit for that work.

[2018-10-23 04:03] Zac-HD commented on #1648
Oh... dear.  I don't want to drop traceback elision entirely for Python 2, but the best solution so far is `eval(exec(...))` behind a version guard 😱... I'll keep looking.

[2018-10-23 04:09] chebee7i commented on #1646
The example I have is that I want to generate a random DAG. Example:
[code]
I've written this as a generator instead of a sparse matrix partly due to using `random` rather than NumPy. You can take these edges and use them to build a graph (using say NetworkX). Let's hide all those details behind a function `build_dag(n, p, prng)`.

Conceptually what's going on is that is that we are randomly selec

[2018-10-23 04:11] Zac-HD commented on #1648
The root cause is [BPO-21591](https://bugs.python.org/issue21591), so I don't think there's going to be a better solution 😭

[2018-10-23 04:18] chebee7i commented on #1646
DAGs are one example. Other examples include any of the random graph models out there.

[2018-10-23 07:13] Zac-HD commented on #1646
A perfect case for [`@st.composite`](https://hypothesis.readthedocs.io/en/latest/data.html#composite-strategies)!

Aside from that, graphs have enough structure that it *can* be tricky to define them in a way Hypothesis can exploit.  While your PRNG trick does work, it gives up features such as data generation tricks like #1637 or our existing heuristics, and that once we find a failing example it

[2018-10-24 01:32] chebee7i commented on #1646
Oh I didn't even know `hypthesis-networkx` existed. I will check that out!

[2018-10-24 01:45] chebee7i commented on #1646
It's nice, but not usable as is to generate graphs with specific topological properties. It seems to be only useful to generate graphs with node counts between a min and max node count and edges counts between a min and max edge count (along with various randomization of the keys, attributes, etc). All drawn independently.

I can extract some useful nuggets from it for sure though. Thanks for the

[2018-10-24 01:45] #1646 closed

[2018-10-24 22:14] Wilfred commented on #1093
@Zac-HD @DRMacIver I've been looking at porting hypothesis to emacs lisp, so I've been trying to understand the internals of Hypothesis (rather than just being a contented user).

The docs that exist are excellent and clear, but I've still found a few things unclear.

* The [internals docs page](https://github.com/HypothesisWorks/hypothesis/blob/master/guides/internals.rst) is helpful, so it's a s

[2018-10-25 00:13] Zac-HD commented on #1093
Just some quick comments from me; David might (should?) know more 😄

To date we've tried to keep user and developer docs separate, to help reinforce the distinction between public interface and internals and that you don't need to understand the latter to use the former.

`ConjectureData` *is* big and complicated (and under-commented).  For Hypothesis ports though, I'd suggest starting with the Ru

[2018-10-25 00:36] Zalathar commented on #1093
Having tried both approaches recently, I actually think `hypothesis-python` is a better reference for porting at the moment.

The learning curve is a bit steep, but Python Conjecture isn't *that* complicated once you eventually get your bearings. And it's nice to be able to refer to the most mature and battle-tested implementation.

[2018-10-25 09:06] mi-s opened #1654 "No value for argument 'draw' in function 'arrays'"
I try to use the function hypothesis.extra.numpy.arrays in the following way:
` @given(img=arrays(dtype=np.float32, shape=(3, 3, 3, 3)))   `
   `       def test_split_multi_channel_image(self, img): pass  `

My linter raises the following error:
E1120 No value for argument 'draw' in function call [pylint]

What's the problem?

[2018-10-25 09:59] Zalathar commented on #1654
It seems like the linter is interacting poorly with some internal implementation details of the `arrays` strategy.

Which version of Python are you running, and what is the name and version number of your lint tool?

[2018-10-25 10:02] DRMacIver commented on #1654
This is a known limitation of pylint I'm afraid - https://github.com/PyCQA/pylint/issues/259. There's not much we can do about it other than suggesting disabling that warning in your linter.

[2018-10-25 10:02] #1654 closed

[2018-10-25 10:38] #1591 closed

[2018-10-25 15:12] ccxcz opened #1655 "Objects for which getfullargspec() fails are handled incorrectly by from_type() and builds()."
Some types of objects are considered callable but getfullargspec() fails on them. This is handled by required_args() by returning None. The functions from_type() and builds() don't seem to anticipate this and assume required_args always returns set. In case of from_type it ends up with:
`AttributeError: 'NoneType' object has no attribute 'issubset'` while builds assumes this means the object shoul

[2018-10-25 15:32] ccxcz opened #1656 "__init__ inherited from object fails required_args() on Python-2.7"
On Python 2.7 `getargspec()` fails on default `__init__` method. This in turn triggers bug #1655. The `required_args()` function can use `target.__init__ is object.__init__` to detect this case.
Test for checking correct result is provided in https://github.com/ccxcz/hypothesis/tree/check-default-init

[2018-10-25 21:54] Zac-HD commented on #1656
Thanks for reporting this!

[2018-10-26 03:50] Zac-HD commented on #1643
I would simply copy the implementation of `settingsMeta`, which provides the `__setattr__` for the `settings` class object.

https://github.com/HypothesisWorks/hypothesis/blob/dd46aca7e521fccc81ef619704dfd363ebbe8c3a/hypothesis-python/src/hypothesis/_settings.py#L99-L135

As far as I'm aware this is compatible with both Python2 and Python3, though I could be wrong!

[2018-10-26 10:32] ccxcz commented on #1656
Another way this breaks is on old-style classes that don't have to have __init__ attribute at all. Checking with `hasattr(target, '__init__')` would work in that case.

[2018-10-26 10:44] Zac-HD commented on #1656
Gah, I'm so sick of Python 2... thanks for the report though :+1:

[2018-10-26 14:55] nmbrgts commented on #1643
Thanks for clarifying, Zac. I misunderstood how `settingsMeta` worked to create a metaclass. This avoids the compatability error that I was thinking of which was 3.x's metaclass keword argument vs 2.7's __metaclass__ property.

[2018-10-26 21:03] chebee7i opened #1658 "Inject fixtures into given or composite?"
I'm running various integration tests (that interact with a database), and so I need some global state (like an ID generator) to persist across tests. Normally I use fixtures for this in pytest. So for example:

[code]
With hypothesis, I've switched to using `@given` and specifying the things I normally built inside the test, but I'm not sure how to accomplish this in the same way with a fixture.

[2018-10-27 15:02] Zac-HD commented on #1617
See discussion on #1624 - the shuffle approach doesn't shrink well, and variations on the current rejection sampling generally aren't worth it, so I'm closing this as wontfix.

[2018-10-27 15:02] #1617 closed

[2018-10-27 23:08] #1643 closed

[2018-10-28 14:45] chebee7i commented on #1658
Opps on my usage of `@composite`. That's what I get for writing hurriedly as I run out to drink beers. :)

That's a good example thanks! Since the number of things I need to `draw` is conditional on the output of prior draws and the in-progress object that I'm trying to build, I'm actually passing `draw` to `build_using_fixture` right now. It seems to be working alright.  Are there any concerns wi

[2018-10-28 19:14] fkromer opened #1661 "How can we help users to find strategy implementing packages?"
Via [libraries.io](https://libraries.io/search?languages=Python&q=hypothesis) and [basic PyPi search for "hypothesis"](https://pypi.org/search/?q=hypothesis) it's not possible to distinguish between (A) packages which use hypothesis for testing, (B) packages which implement integration of hypothesis with other frameworks and (C) packages which implement generic strategies based on hypothesis.

Pro

[2018-10-28 23:28] Zac-HD commented on #1661
Per [the PyPI FAQ](https://pypi.org/help/#new-classifier), I've opened pypa/warehouse#4973 to request a new trove classifier `Framework :: Hypothesis`.  Based on the number of packages, and the PyPI issue guidelines, I've only requested the single classifier - they're reasonably conservative to avoid namespace pollution, and IMO the distinction between integration and extension will be unclear to

[2018-10-29 07:10] Zac-HD commented on #1658
Passing `draw` to a function should be fine!  (and in fact if some draws depend on the object you get from the fixture my earlier proposal won't help)

Shrinking *can* be tricky, but the baseline advice is that Hypothesis is really, really good at shrinking.  Three bits of advice:

- Pay attention to how shrinks compose.  For example, make sure that drawing smaller integers or shorter lists corres

[2018-10-29 23:10] #1655 closed

[2018-10-29 23:10] #1656 closed

[2018-10-30 01:28] #1661 closed

[2018-10-31 10:30] Zac-HD commented on #1661
And the `Framework :: Hypothesis` classifier is now a thing!  See #1663 :tada:

[2018-10-31 11:22] fkromer commented on #1661
[PyPI search for packages which have Hypothesis classifier set.](https://pypi.org/search/?c=Framework+%3A%3A+Hypothesis)

[2018-10-31 11:24] Zac-HD commented on #1661
Soon!

[2018-11-01 12:41] Zac-HD opened #1664 "Add `codec=` argument to restrict `st.characters()` to codepoints representable in that encoding"
Reflecting on chardet/chardet#167 made me realise that it may often be useful to restrict generated characters to those valid for a particular encoding.  In fact, that's exactly why we exclude surrogate characters from the default `text()` strategy - because they're invalid in `utf-8`!

This is obviously going to be much more efficient by construction than by filtering, and not too difficult - con

[2018-11-01 12:59] Zac-HD opened #1665 "Make @composite strategies collected by pytest act as failing tests"
From #1658, occasionally users use `@composite` when they should be using `@given(st.data())`.  Unfortunately, this silently goes wrong:

[code]

Pytest will happily collect `test_data_factory`, execute it, and report it as a passing test... *even if you replace the function body with `assert False`!*  This is because calling the function returns a `LazyStrategy` object, and the function isn't act

[2018-11-05 13:06] dycw opened #1667 "integers(x, x) can generate (x-1) if x is an int64"
Hi,

Just stumbled upon this by accident. Using hypothesis 3.68.0 and numpy 1.15.2:

[code]

For example, with the int64 type we can fail with `x = 9007199254740993`, with `integers()` generating `x - 1`. I've not seen examples of anything other than `x - 1` being generated.

[2018-11-06 03:05] Zalathar commented on #1667
I had a quick look into this, and was surprised to find that `floor(x) != x` for some values of `x` that are `numpy.int64`.

I haven't had a chance to figure out why that happens.

[2018-11-06 04:09] Zac-HD commented on #1667
The [return type of `numpy.ceil` is `float64`](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.ceil.html), just like `math.ceil` in Python 2.  Apparently there is also an intermediate cast to `float` in the `__ceil__` method of integer dtype values - for example `x = 9007199254740993 = 2 ** 53 + 1`, and `np.ceil(x) == 9007199254740992.0`.  This is actually also the Python2 behavi

[2018-11-06 04:40] dycw commented on #1667
Thanks Zac-HD, so efficient!!

[2018-11-13 04:31] Zac-HD opened #1671 "Add Pandas extra to our setup.py"
Justin H [reports on Stack Overflow](https://stackoverflow.com/questions/53221061) that `pip install hypothesis[pandas]` fails - and he's right!  Fortunately this is an easy fix; all we need to do is add `'pandas': ['pandas>=0.19'],` as an entry in [our setuptools extras dict](https://github.com/HypothesisWorks/hypothesis/blob/da43eba90c1fbfa436c02e621f56dfa3a153a093/hypothesis-python/setup.py#L55

[2018-11-15 02:10] Zac-HD opened #1674 "Our CircleCI builds are broken; looks like a virtualenv problem."
See e.g. [here](https://circleci.com/gh/HypothesisWorks/hypothesis/5475); possible solutions are to fix this on CircleCI, or to just port over to Azure Pipelines per #1571.

[2018-11-15 02:11] Zac-HD commented on #1674
Also the main blocker on our various dependency update PRs, and several of mine though that only matters once someone reviews them!

[2018-11-15 07:58] DRMacIver commented on #1674
The following looks like a relevant warning:

I'm currently trying a rebuild without cache to see if that helps.

[2018-11-15 08:13] DRMacIver commented on #1674
Rebuilding without cache seems to fix it, so I think what's happened is that somehow a previous install got broken and uploaded a broken version to the cache? It would be nice to be able to detect and avoid that, but bumping the cache key (sigh) probably suffices to fix the problem.

[2018-11-16 02:32] Zac-HD commented on #1674
Also affecting Travis [here](https://travis-ci.org/HypothesisWorks/hypothesis/builds/455312545) *just after I got rid of the cache*, so it's worse than we thought.

[2018-11-17 16:53] Midnighter opened #1675 "Ensuring known and desired failures"
I've read a couple of issues on integration between hypothesis and pytest fixtures or parametrize and have come to realize that it's not really possible. So what about the other way around? Basically, what I'm looking to do:

I often make use of the excellent [pytest-raises](https://github.com/Lemmons/pytest-raises) package to ensure that certain cases fail in expected ways. A silly example:

[cod

[2018-11-18 05:40] Zac-HD commented on #1675
I'd rather keep this out of `@example` actually - adding it in would make the design less orthogonal, and could cause some serious issues in the long term if we want to change the underlying model.  We simply don't have a large enough team to let Hypothesis grow features of a test runner - providing everything you need to write the test functions is quite enough work!

Here's how I'd write this te

[2018-11-18 05:40] #1675 closed

[2018-11-18 10:41] Midnighter commented on #1675
No, this is fair. Thank you for the examples.

[2018-11-26 22:10] nicoabie opened #1679 "Feature request: example decorator with a strategy"
I think the example decorator should accept a strategy. I base such a claim given the fact that the examples generally are not simple strings, numbers or dates (to name a few basic types) but are some structures.

Look at the following example:
[code]
There suggestion, grid and suggestion_and_grid are three composites.
Both suggestion and grid create pandas dataframes

And suggestion_and_grid does

[2018-11-27 01:44] Zac-HD commented on #1679
Your `suggestion_and_grid` composite strategy can be replaced by `st.tuples(suggestion, grid)`.  More simply, both `@example()` and `@given()` accept any number of positional arguments xor keyword arguments.  So the following will work:

[code]

The distinction between values and strategies is fundamental to the whole Hypothesis model, and `@example` can only support values.  Hopefully that's not

[2018-11-27 02:59] Zalathar commented on #1679
Be aware that the arguments to `@example` don't have to be simple values.

If you can manually create complicated inputs (e.g. dataframes) that trigger your test failure, then you can put those inputs into your `@example` decorator.

[2018-11-27 03:11] Zalathar commented on #1679
More generally, I think the observation here is that sometimes it can be difficult to express an example in terms of concrete inputs, but that same example could be easily found from a single run of a hand-crafted trivial strategy.

I could imagine some kind of separate `@example_given` decorator that takes a separate list of strategies, and arranges to run the test on those strategies (with an im

[2018-11-27 14:38] nicoabie commented on #1679
First of all, thank you both for the fast response.

@Zac-HD thanks for the tuples hint, I'm using it now.
One of my concerns was not passing a function more than one parameter but if expanding from one given parameter to many functions parameters was possible, concretely:

[code]
Both suggestion and grid are related so I cannot build them separately, they must share the same "prog_starts" but the

[2018-11-27 14:46] nicoabie commented on #1679
@Zalathar sorry, I misunderstood this posibility:

I thing it is a great workaround, better than extracting the helper functions. Thanks!

[2018-11-28 00:48] Zac-HD commented on #1679
Oh, right - if the `suggestion` and `grid` arguments must have the same `prog_starts` there are basically two options:

1. Use `@composite` to create a tuple of `(suggestion, grid)` where this is true by construction, then unpack the tuple inside the test - your current approach and entirely reasonable.
2. Generate them separately, then set `grid.prog_starts = suggestion.prog_starts` within the te

[2018-11-28 14:09] nicoabie commented on #1679
@Zac-HD

That's is what it says in the documentation and that's all I was attempting to do.

I honestly don't understand what you meant by that.

The "great workaround" is doing exactly the same as `@given(simple_strategy | complex_strategy)` the only difference is that I've never seen that use of `|` in the documentation.
If I had known that existed I would have definitely gone that way. If you c

[2018-11-29 02:29] Zalathar commented on #1679
I must clarify that I don't recommend this “workaround”.

I was trying to quickly describe how a potential feature might work. I don't think it should be done directly, and I haven't had a chance to consider the full consequences of doing so.

Sorry for the confusion.

[2018-11-29 06:02] Zac-HD commented on #1679
`a_strategy | b_strategy | c_strategy` is identical to `st.one_of(a_strategy, b_strategy, c_strategy)`, just handled by chaining the `__or__` method we defined for strategies.
This might actually be undocumented now, since we switched `repr(a | b)` to show `one_of(a, b)` to fix the case of `(a | b).map(...)` - the parens would otherwise be redundant most of the time.

If you have a strategy, you c

[2018-11-29 06:02] #1679 closed

[2018-12-04 11:28] alexjg opened #1681 "Confusion about mutliple `targets` in `rule`"
I'm slightly confused about how one is intended to populate multiple targets from the `rule` annotation. I have some code that looks like this:

[code]

i.e I want to have two separate bundles to draw values from but there is only one step to generate those values.

What I would expect to happen here is that the bundles are populated by values from the retuend tuple in the same order that they are

[2018-12-05 04:19] Zac-HD commented on #1681
It *is* a bit clunky, but I don't think you're missing anything - [a single return value is added to each bundle in `targets`](https://hypothesis.readthedocs.io/en/latest/stateful.html#rules).  @DRMacIver might have some more useful advice?

We also agree that `hypothesis.stateful` can be confusing; see issues #1190 and #1300.  Basically we want to find the time to make the API cleaner and expand

[2018-12-05 13:57] DRMacIver commented on #1681
Unfortunately my answer is much the same. 😢

I agree that in retrospect your suggested usage pattern is much nicer. Unfortunately it's very hard to change that behaviour in a backwards compatible way for a variety of reasons good and bad.

One thing you could do which is still quite clunky but at least contains the clunkiness is that you could define unpack rules? So something like the following:

[2018-12-05 15:44] alexjg commented on #1681
That's a nice solution, I'll give it a shot.

It's interesting that you feel that `stateful` in general is confusing. So far I've been having a pretty plain sailing experience with it and am finding it dramatically more productive than example based testing I had been doing before. For context I'm using it to drive some black box testing of an HTTP API.

I'll close this issue because my question h

[2018-12-05 15:44] #1681 closed

[2018-12-05 15:46] DRMacIver commented on #1681
Oh yeah, it's mostly great once you get the hang of it, it just has a bunch of slightly weird corner cases and limitations.

[2018-12-06 00:02] Zac-HD commented on #1681
Glad to hear it's been working for you 😄

My concern isn't really "`stateful` *is* confusing", more "*can be* confusing" for new users (especially if they've never been introduced to state machines).  The main things I'd like to do are finish #1609 so it's more like `@given`, deprecate `GenericStateMachine` in favor of inline `st.data()` so there's only one way to do that, and split the docs into

[2018-12-06 18:02] vitalbmcdonald opened #1683 "The floats strategy with allow_infinite set to False returns infinity if min_value is large"
Similar to issue #1476, when `allow_infinity` is set to `False` in conjunction with `min_value` set to a large value, infinity still can be returned.

The following code reproduces the error for on my computer, but I think the `min_value` may have to change depending on the system being used.
[code]

I think the culprit is [this map](https://github.com/HypothesisWorks/hypothesis/blob/master/hypoth

[2018-12-07 02:30] Zac-HD commented on #1683
(whoops, wrong button - issue will close when the PR is merged, not before)

[2018-12-07 23:54] MarcoFavorito opened #1685 "extend the set of types returned from from_type(type)"
Using version: `hypothesis==3.82.1`

Currently, the `from_type()` strategy with `type` as input returns:

[code]

However, there are other built-in types that are missing, e.g. `tuple`, `bytes`.
A comprehensive list can be found [here](https://docs.python.org/3.7/library/stdtypes.html)

Is it a choice design to limit the types to the ones in the list above?
It would be nice to see other types, lik

[2018-12-08 00:11] Zac-HD commented on #1685
We'd be very happy to accept a pull request to extend the list with as many built-in types as you would like to add :smile:

The only real design constraint is that for consistency I'd keep it as a static list, and ordered from "simpler" to "more complicated" types.  The list is defined here:

https://github.com/HypothesisWorks/hypothesis/blob/da43eba90c1fbfa436c02e621f56dfa3a153a093/hypothesis-py

[2018-12-08 04:06] Zac-HD commented on #1639
Conclusion in private chat is "probably not worth setting up at this time".

[2018-12-08 04:06] #1639 closed

[2018-12-08 13:12] #1667 closed

[2018-12-09 04:29] Zac-HD opened #1686 "Change autoformatter from pyformat to Black"
Because `Black` is a better autoformatter than `autopep8`, which `pyformat` uses under the hood.  `pyformat` also handles docstring conventions and unused imports, but doesn't canonicalise them and we have linters for both.

IMO we should use the default configuration and accept 88-character lines.  To minimise disruption, I would vote to format everything at once as soon as my current round of PR

[2018-12-09 05:48] Zac-HD commented on #429
Not sure if this is good news or bad news, but I'm unable to reproduce this from the example above or from anything else I tried over an hour or so.

My best guess is that a Django-specific upgrade such as #645 or #1117 has fixed this, or possibly general Hypothesis internal upgrades (though we still do retry mapping if unsatisfied, it looks safe to me).

I'm therefore closing as "so far as I can

[2018-12-09 05:48] #429 closed

[2018-12-09 17:50] eduzen commented on #1685
Hi, It's my first time here. Could I pick this one?

[2018-12-11 12:53] #700 closed

[2018-12-11 23:11] MichalKononenko opened #1689 "Average size argument in list generator should be of type int"
Shouldn't the type declaration [here](https://github.com/HypothesisWorks/hypothesis/blob/master/hypothesis-python/src/hypothesis/strategies.py#L633) for ``average_size`` be ``  # type: int`` instead of ``  # type: None``?

[2018-12-11 23:51] Zac-HD commented on #1689
The `average_size` argument has been deprecated since before type hints were added - you should never be passing an integer (or other value) for it, so `type: None` reflects correct usage.  And if you *do* pass a value, it's silently ignored!

[2018-12-11 23:51] #1689 closed

[2018-12-12 04:15] #1665 closed

[2018-12-12 13:12] MarcoFavorito opened #1690 "Add `any()` strategy"
It would be nice to have an `any()` strategy that generates any possible object.

Probably this is already possible by using something like:
[code]

But a shortcut `any()` is far more readable.

[2018-12-12 13:20] Zac-HD commented on #1690
Well, `any` is a built-in name, so we'd have to call it something else!

The main issue though is that functions which should accept *literally anything* are actually very rare, and it's unlikely that a very fancy implementation would be any better at finding bugs than `from_type(type).flatmap(from_type)` (once #1685 is merged, of course).  On the other hand, we would have to test, document, and m